<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>news &#8211; GUADEC 2016</title>
	<atom:link href="https://2016.guadec.org/tag/news/feed/" rel="self" type="application/rss+xml" />
	<link>https://2016.guadec.org</link>
	<description>The GNOME Conference</description>
	<lastBuildDate>Thu, 06 Oct 2016 13:17:30 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.7</generator>
	<item>
		<title>Announcing the GStreamer workshop</title>
		<link>https://2016.guadec.org/2016/06/24/announcing-the-gstreamer-workshop/</link>
		<pubDate>Fri, 24 Jun 2016 21:39:25 +0000</pubDate>
		<dc:creator><![CDATA[muelli]]></dc:creator>
				<category><![CDATA[News]]></category>
		<category><![CDATA[gstreamer]]></category>
		<category><![CDATA[guadec]]></category>
		<category><![CDATA[news]]></category>
		<category><![CDATA[workshop]]></category>

		<guid isPermaLink="false">https://2016.guadec.org/?p=1044</guid>
		<description><![CDATA[At this year&#8217;s GUADEC we plan to have great workshops. One of them will be on using GStreamer for your application by Olivier Crête. I&#8217;ve met Olivier and we chatted a little about the workshop: Olivier, you are the one the oldest members of the GNOME Foundation (in terms of membership). What keeps you in &#8230;]]></description>
				<content:encoded><![CDATA[<p>At <a href="http://2016.guadec.org/">this year&#8217;s GUADEC</a> we plan to have great <a href="https://2016.guadec.org/workshops/">workshops</a>. One of them will be on using <a href="https://2016.guadec.org/workshops/gstreamer/">GStreamer for your application</a> by Olivier Crête. I&#8217;ve met Olivier and we chatted a little about the workshop:</p>
<p><img class="alignleft size-full wp-image-1051" src="https://2016.guadec.org/wp-content/uploads/2016/06/olivier-2016.jpg" alt="oli2" width="513" height="772" /><br />
<b><i><br />
Olivier, you are the one the oldest members of the GNOME Foundation (in terms of membership). What keeps you in the community?<br />
</i></b></p>
<p>I came to the GNOME community first as a user thanks to Red Hat Linux, and back in the day, I used ICQ to talk to my friends. On GNOME, the well integrated client was called GnomeICU, I started by sending a few patches and in a couple months I became the maintainer. My dream was to have a job working on Free Software, particularly GNOME, full time. Later, that expertise in instant messaging got me hired at Collabora, where I could work on Telepathy and Farstream, and more importantly, work on GNOME technologies full time. Since my first GUADEC in 2007, I got hooked onto the community, it&#8217;s such a great event to meet people, as it has generally been long enough to make connections and really get to know people.</p>
<p><b><i><br />
The workshop you will be giving is concerned with GStreamer. Can you briefly explain what it is, what does, and why it&#8217;s interesting?</i></b></p>
<p>GStreamer is a framework to create multimedia applications. I use the very generic term &#8220;multimedia applications&#8221; because GStreamer is very flexible. It can be used for almost anything that deals with audio or video. For example, you can make a video player (like the GNOME Videos), a video editor (Pitivi), a simple sound recorder (GNOME Sound Recorder), a simple camera application (Cheese), a video calling application (Empathy, Pidgin), etc. It can even be used as a backend for all multimedia in a browser (WebKitGTK and GNOME Web). At Collabora, we&#8217;ve been helping our customers to build a wide array of great products with GStreamer for over a decade.</p>
<p><b><i><br />
GStreamer seems to be cool. What other projects exist, how does GStreamer compare to them, and, most importantly, what makes GStreamer better?</i></b></p>
<p>For each of these use cases, there exist other applications that provide re-usable back-ends, like VLC (and libvlc), Kdenlive (and MLT), mplayer (ffmpeg) but none of those offer the kind of versatility that GStreamer provides. GStreamer is also multi-platform, the GStreamer project provides builds for Windows, Mac, iOS and Android, in addition to the Linux builds present in every Linux distribution. GStreamer is also the most popular framework used by embedded Linux developers because of its flexibility, its support for all commonly used hardware APIs and support from SoC vendors.</p>
<p><b><i> You have been to a lot of conferences in many countries. I know, because we&#8217;ve travelled to quite a few together. What is it that makes you come to GUADEC over and over again?</i></b></p>
<p>What is so special about GUADEC is the community, there is a very welcoming core of contributors who come year after year and have formed a bond of friendship, but who are still welcoming to new contributors. The word &#8220;community&#8221; has been co-opted by corporate players so as to be entirely meaningless, many Open Source projects have &#8220;communities&#8221; were everyone is just there because it&#8217;s their job. GNOME is different, it has a real community formed of people who truly care, not only about creating the best possible Free desktop, but who are also friends.</p>
<p><b><i> What do you recommend people who are new to GNOME or attend their first GUADEC?</i></b></p>
<p>I&#8217;d recommend to introduce yourself to as many people as possible, the best thing about GUADEC is how easy it is to make friends.</p>
<p><b><i> Thanks Olivier! I&#8217;m looking forward to seeing you at GUADEC again.</i></b></p>
<p>&#8212;</p>
<hr />
<p>Questions were asked by Tobias Mueller from the local organising team. If you are interested in attending the workshop, please head over to the registration system and select the workshop.</p>
]]></content:encoded>
			</item>
		<item>
		<title>Announcing the Contribute to OpenSource workshop</title>
		<link>https://2016.guadec.org/2016/06/08/announcing-the-contribute-to-opensource-workshop/</link>
		<pubDate>Wed, 08 Jun 2016 14:40:22 +0000</pubDate>
		<dc:creator><![CDATA[muelli]]></dc:creator>
				<category><![CDATA[News]]></category>
		<category><![CDATA[guadec]]></category>
		<category><![CDATA[news]]></category>
		<category><![CDATA[workshop]]></category>

		<guid isPermaLink="false">https://2016.guadec.org/?p=1017</guid>
		<description><![CDATA[At this year&#8217;s GUADEC we plan to have great workshops. One of them will be Contribute to OpenSource by Lasse Schuirmann. We&#8217;ve met Lasse and shot a few questions at him. Hi Lasse. You&#8217;re giving one of the workshops we&#8217;re having at this year&#8217;s GUADEC. What&#8217;s your background and relationship to the GNOME project? I &#8230;]]></description>
				<content:encoded><![CDATA[<p>At <a href="http://2016.guadec.org/">this year&#8217;s GUADEC</a> we plan to have great <a href="https://2016.guadec.org/workshops/">workshops</a>. One of them will be <a href="https://2016.guadec.org/workshops/contribute_to_opensource/">Contribute to OpenSource</a> by Lasse Schuirmann.  We&#8217;ve met Lasse and shot a few questions at him.</p>
<p><img src="https://2016.guadec.org/wp-content/uploads/2016/05/sils.png" alt="sils" width="248" height="239" class="alignleft size-full wp-image-1021" /></p>
<p><b>Hi Lasse.  You&#8217;re giving one of the workshops we&#8217;re having at this year&#8217;s GUADEC.  What&#8217;s your background and relationship to the GNOME project?</b></p>
<p>I started contributing to GNOME when I searched for a friendly open source community. A Google Summer of Code project connected me with a great mentor and quickly I learned more about coding than I had ever learned in university. I even started my own community while I supported GNOME in managing the GSoC &#8211; who knows, maybe I would still be working in a cubicle if I hadn’t found them :).</p>
<p><b>You&#8217;re a GNOME volunteer with a busy schedule, why did you decide to hold this workshop?</b></p>
<p>I have helped people around the world getting started with open source after GNOME did it for me &#8211; I want to give back to the community and help curious people pursuing their passion!</p>
<p><b>What do you think makes the workshop interesting to the participants?</b></p>
<p>The first OS contribution is always hard. Having someone to ask personally and to guide you is very intense and valuable: I have yet to find a concept where we can bring knowledge as well as experience faster to the people than through a workshop like this.</p>
<p>After doing this workshop, participants will have contributed to an open source project and know how they can go on to other projects.</p>
<p><b>What&#8217;s your most memorable experience from last GUADEC?</b></p>
<p>Last GUADEC I organized the GSoC interns lightning talks. Meeting all these great new minds in person was great and I see forward to all new faces this time!</p>
]]></content:encoded>
			</item>
		<item>
		<title>Announcing the Flatpak workshop</title>
		<link>https://2016.guadec.org/2016/06/01/announcing-the-flatpak-workshop/</link>
		<pubDate>Wed, 01 Jun 2016 14:29:20 +0000</pubDate>
		<dc:creator><![CDATA[muelli]]></dc:creator>
				<category><![CDATA[News]]></category>
		<category><![CDATA[flatpak]]></category>
		<category><![CDATA[guadec]]></category>
		<category><![CDATA[news]]></category>
		<category><![CDATA[workshop]]></category>

		<guid isPermaLink="false">https://2016.guadec.org/?p=1023</guid>
		<description><![CDATA[At this year&#8217;s GUADEC we plan to have great workshops. One of them will be Packaging your application using Flatpak by David King and Alexander Larsson. Alex was kind enough to answer a few questions for us. Alex, since when are you thinking of Flatpak, formerly known as xdg-app? The first commit to xdg-app was &#8230;]]></description>
				<content:encoded><![CDATA[<p>At <a href="http://2016.guadec.org/">this year&#8217;s GUADEC</a> we plan to have great <a href="https://2016.guadec.org/workshops/">workshops</a>. One of them will be <a href="https://2016.guadec.org/workshops/flatpak/">Packaging your application using Flatpak</a> by David King and Alexander Larsson.  Alex was kind enough to answer a few questions for us.</p>
<p><img src="https://2016.guadec.org/wp-content/uploads/2016/05/alex.png" alt="alex" width="400" height="585" class="alignleft size-full wp-image-1026" /></p>
<p><b>Alex, since when are you thinking of Flatpak, formerly known as xdg-app?</b></p>
<p>The first commit to xdg-app was in December 2014, however I have been interested in the areas of app bundling and sandboxing for much longer. </p>
<p>My first work in this area was an experiment called &#8220;<a href="https://blogs.gnome.org/alexl/2007/08/21/glick-01-released/">Glick&#8221;</a> which was announced in 2007, and after that I&#8217;ve released two other experiments in the same area, but with different approaches (called &#8220;<a href="https://people.gnome.org/~alexl/glick2/">Glick 2</a>&#8221; and &#8220;<a href="https://github.com/alexlarsson/bundler">bundler</a>&#8220;). I&#8217;ve also done a lot of work in the Docker core engine in areas related to sandboxing and filesystem access.</p>
<p><b>Containerisation is all the rage right now. How does Flatpak relate    to technologies like docker or rkt?</b></p>
<p>In some sense they are very similar, because they all use the same kernel-level features (cgroups, namespaces, etc), and they all work by isolating the application from things on the host system.</p>
<p>However, they run in very different contexts. Containers are typically network services of some kind, and are launched as isolated system-level services. So, they have pretty simple interactions with the outside word (a network port generally) and we can assume root rights during the setup as well as the existence of some kind of administrator. </p>
<p>A desktop application instead needs to run completely unprivileged in an ad-hoc fashion, without an administrator. They are also running in a very complex environment (a graphical login session) which they have to interact with in a deep fashion (show graphics, play sounds, use webcams, access user files, show up with icons in the desktop, etc).</p>
<p>Also, the scope of Flatpak is larger than just the sandboxing. We want to have a nice story when it comes to things like graphical app stores, long-term ABI stability, and security updates. </p>
<p><b>How long do you think will it take for Flatpak to become the main method of distributing applications to users?</b></p>
<p>First I would like to mention that I don&#8217;t think Flatpak will replace distributions. In fact, Flatpak relies on the existence of a &#8220;host&#8221; operating system that runs the core of the operating system, including things like system services, enabling hardware, and the graphical shell. Don&#8217;t ever expect Flatpak to replace these for packaging the core applications of a Linux distribution.</p>
<p>Where Flatpak shines instead is delivering all the other applications out there in the free software world. My hope is that upstream developers will use Flatpak as a chance to deliver their applications directly to their end users, thus getting a much faster release/feedback cycle.</p>
<p>Its very hard to estimate how long it will take for this to become popular, but I hope that by next GUADEC we&#8217;ll have a large base of applications available as Flatpaks.</p>
<p><b>Can you give us a glimpse into what the participant will actually do     in the workshop?</b></p>
<p>Everyone will bring an application to the workshop. Then they will learn how to package and distribute it using Flatpak. With our help they will create a Flatpak build of the app that they can bring home. </p>
<p><b>How would you describe the ideal participant of your workshop?</b></p>
<p>An ideal participant would be a maintainer of an application that wants to be able to reach his users directly. He/she doesn&#8217;t necessarily know much about Flatpak, but have some general experience with building applications on Linux.</p>
<p><b>What do you think what makes a GUADEC a GUADEC?</b></p>
<p>GUADEC is all about the people. The talks are interesting, but ultimately GUADEC is about meeting in real life people that you normally only interact with on the net. Its a great way to build up energy and enthusiasm that you can then bring home and apply to your work. </p>
<p>So, go to talks and workshop that seem interesting, but make sure you also talk to a lot of people. If some project interests you, find the people involved and walk up to them. We&#8217;re all nice people and love talking about the stuff we do with anyone.</p>
<p><b>Thanks a million for your time! We&#8217;re looking forward to seeing you at GUADEC!</b></p>
<hr />
&#8212;</p>
<p>If you want to attend this great workshop, keep watching for news here. We&#8217;ll be announcing the opening of the registration facilities soon and then you can register for this workshop.</p>
]]></content:encoded>
			</item>
	</channel>
</rss>
