<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>pia &#8211; GUADEC 2016</title>
	<atom:link href="https://2016.guadec.org/tag/pia/feed/" rel="self" type="application/rss+xml" />
	<link>https://2016.guadec.org</link>
	<description>The GNOME Conference</description>
	<lastBuildDate>Thu, 06 Oct 2016 13:17:30 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.7</generator>
	<item>
		<title>Private Internet Access sponsors GUADEC</title>
		<link>https://2016.guadec.org/2016/07/02/private-internet-access-sponsors-guadec/</link>
		<pubDate>Sat, 02 Jul 2016 19:31:20 +0000</pubDate>
		<dc:creator><![CDATA[muelli]]></dc:creator>
				<category><![CDATA[News]]></category>
		<category><![CDATA[pia]]></category>
		<category><![CDATA[sponsors]]></category>

		<guid isPermaLink="false">https://2016.guadec.org/?p=1120</guid>
		<description><![CDATA[We are honoured to have Private Internet Access sponsoring our annual GNOME event: GUADEC. Private Internet Access has been around the GNOME community for quite a while now, so we took the liberty to ask Ted Kim, London Trust Media Inc&#8217;s CEO, some questions :) Let me assume that the casual reader does not exactly &#8230;]]></description>
				<content:encoded><![CDATA[<p>We are honoured to have Private Internet Access sponsoring our annual GNOME event: GUADEC. Private Internet Access has been around the GNOME community for quite a while now, so we took the liberty to ask Ted Kim, London Trust Media Inc&#8217;s CEO, some questions :)</p>
<p><img src="https://2016.guadec.org/wp-content/uploads/2016/07/ted-kim-london-trust-media.jpg" alt="ted kim london trust media" width="300" height="300" class="alignleft size-full wp-image-1190" /></p>
<p><b><i>Let me assume that the casual reader does not exactly know what Private Internet Access is all about. I know that ensures the users&#8217; freedom to browse the Web without having to fear censorship or being recorded. But is that really what you do?</i></b></p>
<p>This is a big part of what we do but our mission is actually far larger. We believe that the Internet should be freely accessible to all people. There should be no fear of being watched, surveilled, or tracked by anyone when we use Internet protocols and services.</p>
<p>But we&#8217;re also on a mission to ensure civil liberties in the digital age. The most fundamental civil liberties used to be promised and guaranteed by government. Today, there are many threats, both external and internal, to those liberties. These liberties are the foundation of the society on which the free world is built upon &#8211; and we still deserve them. Liberty, and by extension privacy, needs to be fought for.</p>
<p>We fight for this not just because we believe that it is good for business, but because we believe in it truly and because it is deeply embedded in the philosophy and ethos of our company. Everybody now needs to do their part in order to ensure our children are free to do something as mundane as sending private messages to their family or friends.</p>
<p>We fight for privacy. Everywhere and on all levels. Privacy is our policy.</p>
<p><b><i>Wow, that sounds really good. How much is Free Software a necessary pre-condition for achieving that freedom?</i></b></p>
<p>Absolutely vital. Were it not for Free Software, cryptography and privacy would no longer exist. Even governmental reports conclude this when they analyze the potential effects of &#8220;banning encryption&#8221; (a dangerous idea that comes back again and again): it is utterly impossible, precisely because you can only ban commercial endeavors and not the free software that is analogous to speech and knows no borders.</p>
<p>It exists, it is free; and therefore, it ensures our liberty.</p>
<p><b><i>Since when does Private Internet Access support Free Software?</i></b></p>
<p>We have always done so because to do so is in our very nature. Were it not for Free Software, somebody else would hold a kill switch to your privacy, and sell you out for surveillance from the highest bidder. That notion is unacceptable to us.</p>
<p>Today, you can no longer separate the success of Free Software and the resistance to mass surveillance. They are intrinsically linked. We are both proud and happy about being part of this humanity preserving industry.</p>
<p><b><i>That&#8217;s cool! How do GNOME technologies help Private Internet Access?</i></b></p>
<p>All Free Software communities help PIA in one way or another, merely by advancing the concept of uncensorable code, and therefore uncensorable ideas and liberty. However, a few shining reasons stand out. Those that bring awareness of Free Software and the way it unshackles you &#8211; whether as a business, as an individual, or as a carrier of ideas &#8211; are a catalyst for others. In this, GNOME has always been instrumental in providing a gateway experience on par with commercial offerings, to facilitate more people discovering the option of Free Software and making the switch.</p>
<p><b><i>What do you think GNOME needs to do in order to be more attractive to companies like yours?</i></b></p>
<p>VPN support in GNOME is already good; however, additional focus on privacy and liberty &#8211; not to mention ease of use thereof &#8211; is always met with an approving nod.</p>
<p>&#8212;</p>
<hr />
<p>Questions were asked by Tobias Mueller of the local organising team. If you or your organising would also like to sponsor this year&#8217;s GUADEC, visit our <a href="/sponsors">sponsors page</a> or get in touch via email: sponsors@guadec.org.</p>
]]></content:encoded>
			</item>
	</channel>
</rss>
