<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Allan Day &#8211; GUADEC 2017</title>
	<atom:link href="https://2017.guadec.org/author/aday/feed/" rel="self" type="application/rss+xml" />
	<link>https://2017.guadec.org</link>
	<description>The GNOME Conference</description>
	<lastBuildDate>Thu, 17 Aug 2017 14:55:12 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.8.2</generator>

<image>
	<url>https://2017.guadec.org/wp-content/uploads/2017/04/GnJAEjv3_400x400.jpg</url>
	<title>Allan Day &#8211; GUADEC 2017</title>
	<link>https://2017.guadec.org</link>
	<width>32</width>
	<height>32</height>
</image> 
	<item>
		<title>Trip to the Peak District National Park</title>
		<link>https://2017.guadec.org/2017/07/05/trip-to-the-peak-district-national-park/</link>
		<pubDate>Wed, 05 Jul 2017 10:52:23 +0000</pubDate>
		<dc:creator><![CDATA[Allan Day]]></dc:creator>
				<category><![CDATA[News]]></category>

		<guid isPermaLink="false">https://2017.guadec.org/?p=432</guid>
		<description><![CDATA[Fence with a view by Simon Harrod (CC-BY-2.0) Manchester, home to GUADEC 2017, is located close to areas of outstanding natural beauty. The Peak District national park is just a [&#8230;]]]></description>
				<content:encoded><![CDATA[<p><a href="https://www.flickr.com/photos/sidibousaid/6985757255/"><img src="https://2017.guadec.org/wp-content/uploads/2017/07/6985757255_9666a14874_k.jpg" alt="" width="2048" height="878" class="size-full wp-image-433" /></a> Fence with a view by Simon Harrod (CC-BY-2.0)</p>
<p>Manchester, home to GUADEC 2017, is located close to areas of outstanding natural beauty. The Peak District national park is just a short train ride away and offers stunning scenery, fantastic outdoor activities and cosy country pubs. The GUADEC organising team is keen to ensure that those visiting the UK for this year&#8217;s conference have the opportunity to see this special area during their stay.</p>
<p>A group trip to the Peak District will be held during the final days of the GUADEC Unconference (the exact date will be announced closer to the time, so that weather forecasts can be taken into account). All conference attendees are welcome to participate. Guided walks through beautiful Edale will be held, with a range of routes available to suit different abilities. The walks will end at a countryside pub, where there will be opportunity to enjoy a drink while taking in fine views of Edale valley.</p>
<p>More details will be provided during the Unconference. GUADEC attendees who are interested in going on the trip should bring comfortable footwear (trainers with decent grip will be sufficient for most walks; however those with walking shoes or boots might want to bring them, particularly if they want to do one of the more strenuous walks) and a waterproof jacket.</p>
]]></content:encoded>
			</item>
		<item>
		<title>Unconference Workshops and Sessions Now Available</title>
		<link>https://2017.guadec.org/2017/06/29/unconference-workshops-sessions/</link>
		<pubDate>Thu, 29 Jun 2017 13:59:09 +0000</pubDate>
		<dc:creator><![CDATA[Allan Day]]></dc:creator>
				<category><![CDATA[News]]></category>

		<guid isPermaLink="false">https://2017.guadec.org/?p=388</guid>
		<description><![CDATA[In addition to the talks and pre-announced schedule that makes up the core days, part of every GUADEC is devoted to community-driven activities. GUADEC 2017 is no exception: after the [&#8230;]]]></description>
				<content:encoded><![CDATA[<p><img class="noalign size-medium" src="http://designmcr.com/wp-content/uploads/2016/08/the_shed.jpg" alt="The Shed" width="600" height="400" /></p>
<p>In addition to the talks and pre-announced schedule that makes up the core days, part of every GUADEC is devoted to community-driven activities. GUADEC 2017 is no exception: after the talks are over, there will be a three day &#8220;unconference&#8221;, which will include workshops and opportunities to organise sessions around topics of interest.</p>
<p>The GUADEC 2017 unconference will take place at The Shed &#8211; a fantastic space at Manchester Metropolitan University, which is perfectly suited to an unconference &#8211; from 31st July to 2nd August.</p>
<h2>Free Workshops</h2>
<p>Two free workshops will take place during the GUADEC 2017 unconference. The first is a beginners workshop for anyone wanting to get involved in the GNOME project, and is being run by Carlos Soriano, leader of GNOME&#8217;s newcomers initiative. The second is being run by Flatpak lead developer Alexander Larsson, and will provide practical instruction on how to distribute applications using Flatpak.</p>
<h2>Birds of a Feather Sessions</h2>
<p>Birds of a Feather sessions, or &#8220;BoFs&#8221;, will make up a large part of the unconference schedule. These sessions can be organised by any conference attendee on topics of shared interested.</p>
<h2>Join In!</h2>
<p>Finally, there will be a general open space for hacking and discussion, which all conference attendees are invited to make use of. Many informal activities will happen over the three day unconference and everyone is welcome to participate.</p>
<p>For more details on all of these activities, including how to schedule a BoF, see the <a href="https://wiki.gnome.org/GUADEC/2017/Unconference/">unconference wiki page</a>.</p>
]]></content:encoded>
			</item>
		<item>
		<title>Call for Papers Deadline Extended Until Today</title>
		<link>https://2017.guadec.org/2017/04/24/call-for-papers-deadline-extended-until-today/</link>
		<pubDate>Mon, 24 Apr 2017 13:55:18 +0000</pubDate>
		<dc:creator><![CDATA[Allan Day]]></dc:creator>
				<category><![CDATA[News]]></category>

		<guid isPermaLink="false">https://2017.guadec.org/?p=221</guid>
		<description><![CDATA[Edit: the call for papers is now closed for this year. Thanks to everyone who submitted a talk, and keep an eye on the news feed to find out the [&#8230;]]]></description>
				<content:encoded><![CDATA[<p><em>Edit: the call for papers is now closed for this year. Thanks to everyone who submitted a talk, and keep an eye on the <a href="https://2017.guadec.org/news">news feed</a> to find out the final schedule. There will be opportunities to propose last-minute talks during the conference itself.</em></p>
<p>Lots of fantastic talk proposals have been submitted for this year&#8217;s GUADEC. However, due to some technical difficulties, some people weren&#8217;t able to submit their talks last Friday. For this reason, we are extending the call for papers until the end of today (Monday 24 April). So, if you&#8217;d still like to submit a talk, there&#8217;s still time!</p>
<p>The <a href="https://2017.guadec.org/2017/03/23/guadec-2017-call-for-papers/">call for papers</a> contains all the details about how to submit a talk proposal.</p>
]]></content:encoded>
			</item>
	</channel>
</rss>
