<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>GUADEC 2017</title>
	<atom:link href="https://2017.guadec.org/feed/" rel="self" type="application/rss+xml" />
	<link>https://2017.guadec.org</link>
	<description>The GNOME Conference</description>
	<lastBuildDate>Thu, 17 Aug 2017 14:55:12 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.8.2</generator>

<image>
	<url>https://2017.guadec.org/wp-content/uploads/2017/04/GnJAEjv3_400x400.jpg</url>
	<title>GUADEC 2017</title>
	<link>https://2017.guadec.org</link>
	<width>32</width>
	<height>32</height>
</image> 
	<item>
		<title>Videos are now available</title>
		<link>https://2017.guadec.org/2017/08/14/videos-are-now-available/</link>
		<pubDate>Mon, 14 Aug 2017 17:06:59 +0000</pubDate>
		<dc:creator><![CDATA[samthursfield]]></dc:creator>
				<category><![CDATA[News]]></category>

		<guid isPermaLink="false">https://2017.guadec.org/?p=616</guid>
		<description><![CDATA[The talk videos for the 2017 edition of GUADEC are now available! You can watch them on YouTube, or download them. Unfortunately we are unable to provide videos for the [&#8230;]]]></description>
				<content:encoded><![CDATA[<p>The talk videos for the 2017 edition of GUADEC are now available!</p>
<p>You can <a href="https://www.youtube.com/playlist?list=PLcb5uDX8FIoDxgxTDxE_hpu4hJm_47bTp">watch them on YouTube</a>, or <a href="http://videos.guadec.org/2017/">download them</a>.</p>
<p>Unfortunately we are unable to provide videos for the following talks:</p>
<ul>
<li>Flatpak status update and future plans</li>
<li>Gitlab</li>
<li>Microsoft &lt;3 Linux</li>
<li>Recipes – Lessons learned from creating a new app</li>
<li>Replacing C library code with Rust: what I learned</li>
<li>State of the Builder</li>
</ul>
<p>The videos are available under a <a href="https://creativecommons.org/licenses/by-sa/4.0/">Creative Commons attribution + sharealike license</a>.</p>
]]></content:encoded>
			</item>
		<item>
		<title>Keynote speaker: Karen Sandler</title>
		<link>https://2017.guadec.org/2017/07/18/keynote-speaker-karen-sandler/</link>
		<pubDate>Tue, 18 Jul 2017 17:16:39 +0000</pubDate>
		<dc:creator><![CDATA[samthursfield]]></dc:creator>
				<category><![CDATA[News]]></category>

		<guid isPermaLink="false">https://2017.guadec.org/?p=512</guid>
		<description><![CDATA[We are happy to announce that our keynote speaker on Friday 28th July will be Karen Sandler, giving a new talk entitled &#8220;The Battle over our Technology&#8221;. Karen&#8217;s keynote will [&#8230;]]]></description>
				<content:encoded><![CDATA[<p><img class="alignright wp-image-513" src="https://2017.guadec.org/wp-content/uploads/2017/07/kms5.jpg" alt="" width="300" height="450" />We are happy to announce that our keynote speaker on Friday 28th July will be Karen Sandler, giving a new talk entitled &#8220;The Battle over our Technology&#8221;.</p>
<p>Karen&#8217;s keynote will take a broad look at ethics in technology, a topic that is fundamental to many of those involved in GNOME and something that becomes ever more relevant as technology and society develop.</p>
<p>Karen is currently the executive director of the <a href="https://sfconservancy.org/">Software Freedom Conservancy</a>. She is known as a cyborg lawyer for her advocacy for free software, particularly in relation to the software on medical devices. Prior to joining Conservancy, she was executive director of the GNOME Foundation. Before that, she was general counsel of the Software Freedom Law Center. Karen co-organizes <a href="http://www.outreachy.org/">Outreachy</a>, the award-winning outreach program for women globally and for people of color who are underrepresented in US tech. She is also pro bono counsel to the FSF and GNOME. Karen is a recipient of the O’Reilly Open Source Award and cohost of the oggcast <a href="http://faif.us/">Free as in Freedom</a>.</p>
]]></content:encoded>
			</item>
		<item>
		<title>Social dinners on Sunday</title>
		<link>https://2017.guadec.org/2017/07/05/social-dinners-on-sunday/</link>
		<pubDate>Wed, 05 Jul 2017 19:27:08 +0000</pubDate>
		<dc:creator><![CDATA[samthursfield]]></dc:creator>
				<category><![CDATA[News]]></category>

		<guid isPermaLink="false">https://2017.guadec.org/?p=446</guid>
		<description><![CDATA[The GUADEC social events schedule is coming together nicely. We&#8217;ll have a preregistration event on Thursday 27th July at Kro Bar and on Friday there will be games and food [&#8230;]]]></description>
				<content:encoded><![CDATA[<p><img src="https://2017.guadec.org/wp-content/uploads/2017/06/Curry_Mile.jpg" alt="" width="736" height="489" /></p>
<p>The GUADEC <a href="https://2017.guadec.org/social-events/">social events schedule</a> is coming together nicely.</p>
<p>We&#8217;ll have a preregistration event on Thursday 27th July at <a href="http://kro.co.uk/kro-bars/kro-bar-oxford-road/">Kro Bar</a> and on Friday there will be games and food (for purchase) at <a href="http://www.brunningandprice.co.uk/thewharf/">The Wharf</a>. Of course on Saturday is the <a href="https://2017.guadec.org/2017/05/25/gnomes-20th-anniversary-celebration-in-manchester/">20th anniversary celebration for GNOME</a> &#8212; remember to <a href="https://registration.guadec.org/">register</a> by July 14th to be sure of a place!</p>
<p>But what should you do after the conference finishes on Sunday? We are going to head to eat at Manchester&#8217;s famous <a href="https://theculturetrip.com/europe/united-kingdom/england/articles/manchester-s-curry-mile-the-9-best-restaurants/">Curry Mile</a> &#8212; it&#8217;s the main street of an area named Rusholme (pronounced like &#8220;rush home&#8221;) which is around 1.5 miles southeast of the conference venue.</p>
<p>There are dozens of great restaurants in this area. Rather than try to cram everyone into one, we are looking to <i>you</i> to organize <a href="https://2017.guadec.org/social-events/#sunday-dinners">group dinners</a>. A couple are already planned on that page &#8212; including a newcomer&#8217;s dinner, so don&#8217;t worry about being left out. Small groups don&#8217;t need to worry about booking tables in advance, but if you want to organize a group meal in advance and would like help from us to promote it, then get in touch on the <a href="https://mail.gnome.org/archives/guadec-list/">GUADEC mailing list</a> and we&#8217;ll make sure to announce it at the conference.</p>
<p>There will be activities before the meal too &#8212; either a football match or a city tour &#8212; so you can be sure to work up an appetite!</p>
<p><i>Image: Curry Mile CC-BY-SA Maarten</i></p>
]]></content:encoded>
			</item>
		<item>
		<title>Trip to the Peak District National Park</title>
		<link>https://2017.guadec.org/2017/07/05/trip-to-the-peak-district-national-park/</link>
		<pubDate>Wed, 05 Jul 2017 10:52:23 +0000</pubDate>
		<dc:creator><![CDATA[Allan Day]]></dc:creator>
				<category><![CDATA[News]]></category>

		<guid isPermaLink="false">https://2017.guadec.org/?p=432</guid>
		<description><![CDATA[Fence with a view by Simon Harrod (CC-BY-2.0) Manchester, home to GUADEC 2017, is located close to areas of outstanding natural beauty. The Peak District national park is just a [&#8230;]]]></description>
				<content:encoded><![CDATA[<p><a href="https://www.flickr.com/photos/sidibousaid/6985757255/"><img src="https://2017.guadec.org/wp-content/uploads/2017/07/6985757255_9666a14874_k.jpg" alt="" width="2048" height="878" class="size-full wp-image-433" /></a> Fence with a view by Simon Harrod (CC-BY-2.0)</p>
<p>Manchester, home to GUADEC 2017, is located close to areas of outstanding natural beauty. The Peak District national park is just a short train ride away and offers stunning scenery, fantastic outdoor activities and cosy country pubs. The GUADEC organising team is keen to ensure that those visiting the UK for this year&#8217;s conference have the opportunity to see this special area during their stay.</p>
<p>A group trip to the Peak District will be held during the final days of the GUADEC Unconference (the exact date will be announced closer to the time, so that weather forecasts can be taken into account). All conference attendees are welcome to participate. Guided walks through beautiful Edale will be held, with a range of routes available to suit different abilities. The walks will end at a countryside pub, where there will be opportunity to enjoy a drink while taking in fine views of Edale valley.</p>
<p>More details will be provided during the Unconference. GUADEC attendees who are interested in going on the trip should bring comfortable footwear (trainers with decent grip will be sufficient for most walks; however those with walking shoes or boots might want to bring them, particularly if they want to do one of the more strenuous walks) and a waterproof jacket.</p>
]]></content:encoded>
			</item>
		<item>
		<title>Unconference Workshops and Sessions Now Available</title>
		<link>https://2017.guadec.org/2017/06/29/unconference-workshops-sessions/</link>
		<pubDate>Thu, 29 Jun 2017 13:59:09 +0000</pubDate>
		<dc:creator><![CDATA[Allan Day]]></dc:creator>
				<category><![CDATA[News]]></category>

		<guid isPermaLink="false">https://2017.guadec.org/?p=388</guid>
		<description><![CDATA[In addition to the talks and pre-announced schedule that makes up the core days, part of every GUADEC is devoted to community-driven activities. GUADEC 2017 is no exception: after the [&#8230;]]]></description>
				<content:encoded><![CDATA[<p><img class="noalign size-medium" src="http://designmcr.com/wp-content/uploads/2016/08/the_shed.jpg" alt="The Shed" width="600" height="400" /></p>
<p>In addition to the talks and pre-announced schedule that makes up the core days, part of every GUADEC is devoted to community-driven activities. GUADEC 2017 is no exception: after the talks are over, there will be a three day &#8220;unconference&#8221;, which will include workshops and opportunities to organise sessions around topics of interest.</p>
<p>The GUADEC 2017 unconference will take place at The Shed &#8211; a fantastic space at Manchester Metropolitan University, which is perfectly suited to an unconference &#8211; from 31st July to 2nd August.</p>
<h2>Free Workshops</h2>
<p>Two free workshops will take place during the GUADEC 2017 unconference. The first is a beginners workshop for anyone wanting to get involved in the GNOME project, and is being run by Carlos Soriano, leader of GNOME&#8217;s newcomers initiative. The second is being run by Flatpak lead developer Alexander Larsson, and will provide practical instruction on how to distribute applications using Flatpak.</p>
<h2>Birds of a Feather Sessions</h2>
<p>Birds of a Feather sessions, or &#8220;BoFs&#8221;, will make up a large part of the unconference schedule. These sessions can be organised by any conference attendee on topics of shared interested.</p>
<h2>Join In!</h2>
<p>Finally, there will be a general open space for hacking and discussion, which all conference attendees are invited to make use of. Many informal activities will happen over the three day unconference and everyone is welcome to participate.</p>
<p>For more details on all of these activities, including how to schedule a BoF, see the <a href="https://wiki.gnome.org/GUADEC/2017/Unconference/">unconference wiki page</a>.</p>
]]></content:encoded>
			</item>
		<item>
		<title>Talks Schedule Now Available</title>
		<link>https://2017.guadec.org/2017/06/17/talks-schedule-now-available/</link>
		<pubDate>Sat, 17 Jun 2017 20:08:19 +0000</pubDate>
		<dc:creator><![CDATA[samthursfield]]></dc:creator>
				<category><![CDATA[News]]></category>

		<guid isPermaLink="false">https://2017.guadec.org/?p=358</guid>
		<description><![CDATA[We are pleased to annnounce the GUADEC 2017 talks schedule. Thanks to everyone who submitted a talk this year, we think there&#8217;s a fantastic mix of interesting topics on each [&#8230;]]]></description>
				<content:encoded><![CDATA[<p>We are pleased to annnounce the <a href="https://2017.guadec.org/schedule/">GUADEC 2017 talks schedule</a>.</p>
<p>Thanks to everyone who submitted a talk this year, we think there&#8217;s a fantastic mix of interesting topics on each day. We sadly had to make some tough decisions and turn down some great submissions as well &#8211; we received around 70 talk submissions this year which is a lot to fit into a 3 day, 2 track conference.</p>
<p>It&#8217;s now less than 6 weeks until the conference starts! If you&#8217;re planning on attending and haven&#8217;t yet registered, please <a href="http://registration.guadec.org/">register now at registration.guadec.org</a>. It will be possible to register on the day, but we have to finalize room allocations, party venues and food orders way in advance so it will cause problems if everyone waits until the last minute to sign up.</p>
<p>If you&#8217;ve not yet booked a <a href="/travel#accommodation">room</a>, we have a number of rooms still available at the conference venue. You can book these when you register, or if you already registered then just log into <a href="https://registration.guadec.org/">registration.guadec.org</a> and click &#8216;Edit registration&#8217;.</p>
<p>We also have hotel rooms available at fixed prices through <a href="https://aws.passkey.com/go/GUADEC2017">Visit Manchester&#8217;s hotel booking service.</a> The deadline for booking these rooms is <strong>Thursday 29th June</strong>.</p>
<p>Thanks to everyone who has opted to volunteer during the conference using the &#8220;Keep me informed&#8221; box on the registration form. We will be in touch with you very soon to discuss how you can get involved. There&#8217;s still time to edit your registration to tick this box if you&#8217;ve decided you want to help out on the day!</p>
]]></content:encoded>
			</item>
		<item>
		<title>GNOME&#8217;s 20th anniversary celebration in Manchester</title>
		<link>https://2017.guadec.org/2017/05/25/gnomes-20th-anniversary-celebration-in-manchester/</link>
		<comments>https://2017.guadec.org/2017/05/25/gnomes-20th-anniversary-celebration-in-manchester/#comments</comments>
		<pubDate>Thu, 25 May 2017 15:12:29 +0000</pubDate>
		<dc:creator><![CDATA[samthursfield]]></dc:creator>
				<category><![CDATA[News]]></category>

		<guid isPermaLink="false">https://2017.guadec.org/?p=256</guid>
		<description><![CDATA[This year sees the GNOME project&#8217;s 20th anniversary. On Saturday 29th July, during the core days of GUADEC in Manchester we&#8217;ll be celebrating this occasion at a very special venue: [&#8230;]]]></description>
				<content:encoded><![CDATA[<p>This year sees the GNOME project&#8217;s 20th anniversary. On <strong>Saturday 29th July</strong>, during the core days of GUADEC in Manchester we&#8217;ll be celebrating this occasion at a very special venue: Manchester&#8217;s <a href="http://msimanchester.org.uk/">Museum of Science and Industry</a>.</p>
<figure id="attachment_257" style="width: 640px" class="wp-caption alignright"><img class="wp-image-257 size-full" src="https://2017.guadec.org/wp-content/uploads/2017/05/11749708126_23ee1f1896_z.jpg" alt="Avro aircraft at the Museum of Science and Industry" width="640" height="427" /><figcaption class="wp-caption-text">An early Manchester-produced aeroplane, one of the exhibits in the Revolution Gallery at MOSI. Photo from https://www.flickr.com/photos/gidzy/11749708126</figcaption></figure>
<p>We&#8217;ll be planning the future of computing in the same city where some early breakthroughs in computing were made. The <a href="https://en.wikipedia.org/wiki/Manchester_Baby">world&#8217;s first stored-program computer</a> was developed at the University of Manchester in the late 1940s and the Museum has a <a href="http://curation.cs.manchester.ac.uk/computer50/www.computer50.org/mark1/index.html#baby">working replica</a> in the Revolution Hall where we&#8217;ll be holding the event, along with other amazing exhibits from the city&#8217;s industrial legacy.</p>
<p>We look forward to seeing you there! Entrance to the party is open to everyone who has <a href="https://registration.guadec.org/">registered for GUADEC</a>. There will be buffet food available, a bar where you can purchase drinks, and more. We require that you register for the conference by <strong>Friday 14th July</strong> if you want to attend this event. We will try to provide places for everyone, but we cannot guarantee entry if you register later than this date.</p>
]]></content:encoded>
			<wfw:commentRss>https://2017.guadec.org/2017/05/25/gnomes-20th-anniversary-celebration-in-manchester/feed/</wfw:commentRss>
		<slash:comments>2</slash:comments>
		</item>
		<item>
		<title>GNOME Foundation welcomes Private Internet Access as second platinum sponsor</title>
		<link>https://2017.guadec.org/2017/05/12/gnome-foundation-welcomes-private-internet-access-as-second-platinum-sponsor/</link>
		<pubDate>Fri, 12 May 2017 18:54:48 +0000</pubDate>
		<dc:creator><![CDATA[nmcgovern]]></dc:creator>
				<category><![CDATA[News]]></category>

		<guid isPermaLink="false">https://2017.guadec.org/?p=240</guid>
		<description><![CDATA[The GNOME Foundation is proud to announce our second platinum sponsor and the first for both GUADEC and GNOME.Asia! Private Internet Access (PIA) is a top supporter of the project and [&#8230;]]]></description>
				<content:encoded><![CDATA[<p><a href="https://www.privateinternetaccess.com" rel="nofollow"><img class="alignright wp-image-238" src="https://2017.guadec.org/wp-content/uploads/2017/02/PIALogo4x.png" alt="" width="489" height="75" /></a>The GNOME Foundation is proud to announce our second platinum sponsor and the first for both GUADEC and GNOME.Asia! <a href="https://www.privateinternetaccess.com" rel="nofollow">Private Internet Access</a> (PIA) is a top supporter of the project and also contributes via the Foundation&#8217;s Advisory Board.</p>
<p>PIA is the leading no-log VPN service provider in the world. PIA believes that access to an open internet is a fundamental human right and donates effusively to causes such as EFF, ORG, and FFTF to promote privacy causes internationally. PIA has over 3,200 servers in 25 countries that provide reliable, encrypted VPN tunnel gateways for whatever the use case. Please visit their website at <a href="https://www.privateinternetaccess.com/" target="_blank" rel="nofollow noopener noreferrer">https://www.privateinternetaccess.com</a> for more information.</p>
]]></content:encoded>
			</item>
		<item>
		<title>Call for Papers Deadline Extended Until Today</title>
		<link>https://2017.guadec.org/2017/04/24/call-for-papers-deadline-extended-until-today/</link>
		<pubDate>Mon, 24 Apr 2017 13:55:18 +0000</pubDate>
		<dc:creator><![CDATA[Allan Day]]></dc:creator>
				<category><![CDATA[News]]></category>

		<guid isPermaLink="false">https://2017.guadec.org/?p=221</guid>
		<description><![CDATA[Edit: the call for papers is now closed for this year. Thanks to everyone who submitted a talk, and keep an eye on the news feed to find out the [&#8230;]]]></description>
				<content:encoded><![CDATA[<p><em>Edit: the call for papers is now closed for this year. Thanks to everyone who submitted a talk, and keep an eye on the <a href="https://2017.guadec.org/news">news feed</a> to find out the final schedule. There will be opportunities to propose last-minute talks during the conference itself.</em></p>
<p>Lots of fantastic talk proposals have been submitted for this year&#8217;s GUADEC. However, due to some technical difficulties, some people weren&#8217;t able to submit their talks last Friday. For this reason, we are extending the call for papers until the end of today (Monday 24 April). So, if you&#8217;d still like to submit a talk, there&#8217;s still time!</p>
<p>The <a href="https://2017.guadec.org/2017/03/23/guadec-2017-call-for-papers/">call for papers</a> contains all the details about how to submit a talk proposal.</p>
]]></content:encoded>
			</item>
		<item>
		<title>GNOME Foundation welcomes Codethink as first platinum sponsor</title>
		<link>https://2017.guadec.org/2017/04/13/gnome-foundation-welcomes-codethink-as-first-platinum-sponsor/</link>
		<pubDate>Thu, 13 Apr 2017 15:34:37 +0000</pubDate>
		<dc:creator><![CDATA[nmcgovern]]></dc:creator>
				<category><![CDATA[News]]></category>

		<guid isPermaLink="false">https://2017.guadec.org/?p=202</guid>
		<description><![CDATA[The GNOME Foundation are pleased to announce the first platinum sponsor for GUADEC 2017 &#8211; Codethink! Codethink is a longtime supporter of the project and is headquartered in Manchester, UK, [&#8230;]]]></description>
				<content:encoded><![CDATA[<p><img class="wp-image-194 alignright" src="https://2017.guadec.org/wp-content/uploads/2017/02/Codethink-logo.png" alt="" width="450" height="100" />The GNOME Foundation are pleased to announce the first platinum sponsor for GUADEC 2017 &#8211; <a href="https://www.codethink.co.uk">Codethink</a>! Codethink is a longtime supporter of the project and is headquartered in Manchester, UK, the same city where GUADEC is hosted this year.</p>
<p>They specialise in system-level software engineering to enable advanced technical applications, working across a range of industries including automotive, medical, telecoms and finance. Their customers are international-scale organizations who seek competitive edge through design of enterprise appliances and embedded systems which are faster, smaller, more secure, more up-to-date, or more advanced than their competitors.</p>
<p>As experts in Free and Open Source Software, Codethink helps customers take maximum advantage of the knowledge and technologies developed in upstream communities including GNOME. Vala, GLib, GTK+, Glade, Flatpak, Tracker, and Gstreamer are just a few of the GNOME technologies that Codethink developers have hacked on in recent years.</p>
<p>&nbsp;</p>
]]></content:encoded>
			</item>
	</channel>
</rss>
