<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>GUADEC 2014 &#187; Uncategorized</title>
	<atom:link href="https://2014.guadec.org/category/uncategorized/feed/" rel="self" type="application/rss+xml" />
	<link>https://2014.guadec.org</link>
	<description>The GNOME Conference</description>
	<lastBuildDate>Mon, 12 Jan 2015 14:08:27 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>http://wordpress.org/?v=4.1</generator>
	<item>
		<title>GNOME and Wayland</title>
		<link>https://2014.guadec.org/gnome-and-wayland/</link>
		<comments>https://2014.guadec.org/gnome-and-wayland/#comments</comments>
		<pubDate>Sun, 20 Jul 2014 16:12:38 +0000</pubDate>
		<dc:creator><![CDATA[Fabiana Simões]]></dc:creator>
				<category><![CDATA[Uncategorized]]></category>

		<guid isPermaLink="false">https://www.guadec.org/?p=1947</guid>
		<description><![CDATA[Learn about the status of Wayland in GNOME, and the overall benefits of the next-generation display server technology that&#8217;s going to be the default in GNOME 3.14. Jasper St. Pierre I&#8217;ve been a GNOME contributor for ~6 years and Red Hat employee for 4 years. I&#8217;m primarily working on making GNOME run on Wayland these [&#8230;]]]></description>
				<content:encoded><![CDATA[<p><span style="color: #444444;">Learn about the status of Wayland in GNOME, and the overall benefits of the next-generation display server technology that&#8217;s going to be the default in GNOME 3.14.</span></p>
<hr />
<p><strong> <span class="speaker">Jasper St. Pierre</span></strong></p>
<p><span style="color: #444444;"> I&#8217;ve been a GNOME contributor for ~6 years and Red Hat employee for 4 years. I&#8217;m primarily working on making GNOME run on Wayland these days.</span></p>
]]></content:encoded>
			<wfw:commentRss>https://2014.guadec.org/gnome-and-wayland/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Builder, a new IDE for GNOME</title>
		<link>https://2014.guadec.org/builder-a-new-ide-for-gnome/</link>
		<comments>https://2014.guadec.org/builder-a-new-ide-for-gnome/#comments</comments>
		<pubDate>Sun, 20 Jul 2014 16:12:14 +0000</pubDate>
		<dc:creator><![CDATA[Andreas Nilsson]]></dc:creator>
				<category><![CDATA[Uncategorized]]></category>

		<guid isPermaLink="false">https://www.guadec.org/?p=1946</guid>
		<description><![CDATA[Builder started out as a prototype for a new IDE. It is under development an IDE solely targeting GNOME applications. This talk will discuss some ideas and plans for the project and fundamental design features such as a multi-process application, simulators, GNOME SDK&#8217;s, auto-completion, code-highlighting, and more. &#160; Christian Hergert Christian is a database engineer [&#8230;]]]></description>
				<content:encoded><![CDATA[<p><span style="color: #444444;">Builder started out as a prototype for a new IDE. It is under development an IDE solely targeting GNOME applications. This talk will discuss some ideas and plans for the project and fundamental design features such as a multi-process application, simulators, GNOME SDK&#8217;s, auto-completion, code-highlighting, and more.</span></p>
<hr />
<p>&nbsp;</p>
<p><span style="color: #444444;"><strong>Christian Hergert</strong><br />
</span></p>
<p><span style="color: #444444;">Christian is a database engineer at MongoDB living in San Francisco, California. He can often be found prototyping developer tools, building cars, and driving the California coast.</span></p>
]]></content:encoded>
			<wfw:commentRss>https://2014.guadec.org/builder-a-new-ide-for-gnome/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Next generation input methods</title>
		<link>https://2014.guadec.org/next-generation-input-methods/</link>
		<comments>https://2014.guadec.org/next-generation-input-methods/#comments</comments>
		<pubDate>Sun, 20 Jul 2014 16:10:09 +0000</pubDate>
		<dc:creator><![CDATA[Andreas Nilsson]]></dc:creator>
				<category><![CDATA[Uncategorized]]></category>

		<guid isPermaLink="false">https://www.guadec.org/?p=1944</guid>
		<description><![CDATA[Input methods are an important part of a desktop because writing text is one of the most important daily activities of any user. The talk will focus on evolution/history of input frameworks and the future towards Wayland integration with GNOME. Firstly, we will introduce a new library which provides a minimal core functions of input [&#8230;]]]></description>
				<content:encoded><![CDATA[<p><span style="color: #444444;">Input methods are an important part of a desktop because writing text is one of the most important daily activities of any user.</span></p>
<p>The talk will focus on evolution/history of input frameworks and the future towards Wayland integration with GNOME.</p>
<p>Firstly, we will introduce a new library which provides a minimal core functions of input method frameworks. In general, input method frameworks with long history have many portability hacks to provide consistent user experience under different environments (X11, GTK+, Qt, etc.). The minial core library could make it easier to port input methods to new platform, like Wayland.</p>
<p>Secondly, we will talk about integration of text prediction features into input methods and desktop as a whole. Most of the input methods provides API&#8217;s for text prediction and spell checking, so this talk would explain how we can improve text prediction and spell checking so that users will get native text prediction experience.</p>
<hr />
<p><span style="color: #444444;"><strong>Daiki Ueno</strong></span></p>
<p>Caribou, Gettext, IBus, libkkc, Debian maintainer<br />
GNOME Foundation member</p>
<p><span style="color: #444444;"><strong>Anish Patil</strong><br />
IBus, ibus-typing booster maintainer<br />
Fedora packager, GNOME Foundation member</span></p>
]]></content:encoded>
			<wfw:commentRss>https://2014.guadec.org/next-generation-input-methods/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Wayland support in WebKit2GTK+</title>
		<link>https://2014.guadec.org/wayland-support-in-webkit2gtk/</link>
		<comments>https://2014.guadec.org/wayland-support-in-webkit2gtk/#comments</comments>
		<pubDate>Sun, 20 Jul 2014 16:07:10 +0000</pubDate>
		<dc:creator><![CDATA[Fabiana Simões]]></dc:creator>
				<category><![CDATA[Uncategorized]]></category>

		<guid isPermaLink="false">https://www.guadec.org/?p=1941</guid>
		<description><![CDATA[Although most of the Wayland porting work will be solved by UI toolkits like GTK+, when X dependencies go beyond an implementation detail and have an influence on how a particular feature was designed, porting the software to Wayland can be more challenging. WebKit2GTK+ is one such case due to the split process architecture that [&#8230;]]]></description>
				<content:encoded><![CDATA[<p><span style="color: #444444;">Although most of the Wayland porting work will be solved by UI toolkits like GTK+, when X dependencies go beyond an implementation detail and have an influence on how a particular feature was designed, porting the software to Wayland can be more challenging. WebKit2GTK+ is one such case due to the split process architecture that comes with WebKit2, where rendering happens across two processes that need optimal (zero-copy) mechanisms to share an accelerated graphics surface for its Accelerated Compositing feature. This talk is intended for developers interested in porting applications to Wayland that need to share accelerated graphics between two processes. The talk will focus on WebKit2GTK+ as a case study, explaining how WebKit2&#8217;s architecture and X influenced the original design and implementation of Accelerated Compositing and how this feature is redesigned and implemented for Wayland.</span></p>
<hr />
<p><strong><span style="color: #444444;">Žan Doberšek</span></strong></p>
<p><span style="color: #444444;"><span style="color: #444444;">Žan Doberšek</span> is a fresh addition to Igalia&#8217;s Browsers team but has contributed to WebKitGTK+ for years before that. Recently he&#8217;s been part of the team tasked to bring Wayland support to the GNOME&#8217;s favorite web engine and can share first-hand experience about it.</span></p>
]]></content:encoded>
			<wfw:commentRss>https://2014.guadec.org/wayland-support-in-webkit2gtk/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Flow based programming in the Gnome environment</title>
		<link>https://2014.guadec.org/flow-based-programming-in-the-gnome-environment/</link>
		<comments>https://2014.guadec.org/flow-based-programming-in-the-gnome-environment/#comments</comments>
		<pubDate>Sun, 20 Jul 2014 16:07:05 +0000</pubDate>
		<dc:creator><![CDATA[Andreas Nilsson]]></dc:creator>
				<category><![CDATA[Uncategorized]]></category>

		<guid isPermaLink="false">https://www.guadec.org/?p=1934</guid>
		<description><![CDATA[Flow based programming is a programming paradigm that defines applications as networks of &#8220;black box&#8221; processes, which exchange data across predefined connections by message passing. NoFlo is a _javascript_ implementation of Flow based programming (FBP) that provides both libraries to implements the &#8220;black box&#8221; responsible for the computation part and a UI to describe the [&#8230;]]]></description>
				<content:encoded><![CDATA[<p><span style="color: #444444;">Flow based programming is a programming paradigm that defines<br />
applications as networks of &#8220;black box&#8221; processes, which exchange data<br />
across predefined connections by message passing.</p>
<p><a href="http://noflojs.org/">NoFlo</a> is a _javascript_ implementation of Flow<br />
based programming (FBP) that provides both libraries to implements the<br />
&#8220;black box&#8221; responsible for the computation part and a UI to describe<br />
the connections between them.<br />
</span></p>
<p><span style="color: #444444;">This talk will focus on the integration between Gnome and NoFlo (<a href="https://github.com/noflo/noflo-gnome" rel="nofollow">https://github.com/noflo/noflo-gnome</a>) to show new ways of creating applications for Gnome in a flow based way.</span></p>
<hr />
<p><strong><span style="color: #444444;">Lionel Landwerlin</span></strong></p>
<p><span style="color: #444444;">Lionel Landwerlin is a software engineer and has been involved with a number of projects using software components from the Gnome project.</span></p>
]]></content:encoded>
			<wfw:commentRss>https://2014.guadec.org/flow-based-programming-in-the-gnome-environment/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Where has all the Python gone?</title>
		<link>https://2014.guadec.org/where-has-all-the-python-gone/</link>
		<comments>https://2014.guadec.org/where-has-all-the-python-gone/#comments</comments>
		<pubDate>Sun, 20 Jul 2014 16:05:37 +0000</pubDate>
		<dc:creator><![CDATA[Fabiana Simões]]></dc:creator>
				<category><![CDATA[Uncategorized]]></category>

		<guid isPermaLink="false">https://www.guadec.org/?p=1938</guid>
		<description><![CDATA[Despite being historically popular, the use of Python in GNOME has been declining over the last few years. In contrast, the PyGObject bindings are extremely capable, and the popularity of Python in scientific and engineering fields has been growing. In this talk I will highlight some of the strengths of python including Its integration with [&#8230;]]]></description>
				<content:encoded><![CDATA[<p><span style="color: #444444;">Despite being historically popular, the use of Python in GNOME has been declining over the last few years. In contrast, the PyGObject bindings are extremely capable, and the popularity of Python in scientific and engineering fields has been growing.</span></p>
<p>In this talk I will highlight some of the strengths of python including</p>
<ul>
<li><span style="color: #444444;"> Its integration with existing best-of-class frameworks (Robot Operating System, OpenCV, Machine learning/scikit-learn)</span></li>
<li><span style="color: #444444;">Many options for integrating with native code</span></li>
<li><span style="color: #444444;"> The IPython web notebook development environment and the use of Python as a teaching tool</span></li>
</ul>
<p><span style="color: #444444;"> I intend to propose that through embracing python, and with a few small changes of strategy, that the GNOME platform could be a valuable member of the scientific ecosystem.</span></p>
<hr />
<p><strong> <span class="speaker">John Stowers</span></strong></p>
<p><span style="color: #444444;">I&#8217;m a Postdoc researcher at the TU Wien and the Institute of Molecular Pathology. Using virtual reality and real-time control systems, I study how insects see and navigate their environment in order to understand how image motion is understood in the brain.</span></p>
<p>I also maintain gnome-tweak-tool in my spare time.</p>
]]></content:encoded>
			<wfw:commentRss>https://2014.guadec.org/where-has-all-the-python-gone/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>GNOME Infrastructure: Authentication Evolved</title>
		<link>https://2014.guadec.org/gnome-infrastructure-authentication-evolved/</link>
		<comments>https://2014.guadec.org/gnome-infrastructure-authentication-evolved/#comments</comments>
		<pubDate>Sun, 20 Jul 2014 16:03:38 +0000</pubDate>
		<dc:creator><![CDATA[Fabiana Simões]]></dc:creator>
				<category><![CDATA[Uncategorized]]></category>

		<guid isPermaLink="false">https://www.guadec.org/?p=1936</guid>
		<description><![CDATA[At GNOME, we deployed a single authentication system with the use of Federated Open Authentication provider (FedOAuth). This talk gives some background about FedOAuth and it&#8217;s features and the deployment in the GNOME Infrastructure. Patrick Uiterwijk Patrick Uiterwijk is a software engineer working at Red Hat and one of the core system administrators for the [&#8230;]]]></description>
				<content:encoded><![CDATA[<p><span style="color: #444444;">At GNOME, we deployed a single authentication system with the use of Federated Open Authentication provider (FedOAuth). This talk gives some background about FedOAuth and it&#8217;s features and the deployment in the GNOME Infrastructure.</span></p>
<hr />
<p><strong> <span class="speaker">Patrick Uiterwijk</span></strong></p>
<p><span style="color: #444444;">Patrick Uiterwijk is a software engineer working at Red Hat and one of the core system administrators for the GNOME project.</span></p>
<p>&nbsp;</p>
]]></content:encoded>
			<wfw:commentRss>https://2014.guadec.org/gnome-infrastructure-authentication-evolved/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>GTK and CSS</title>
		<link>https://2014.guadec.org/gtk-and-css/</link>
		<comments>https://2014.guadec.org/gtk-and-css/#comments</comments>
		<pubDate>Sun, 20 Jul 2014 16:02:14 +0000</pubDate>
		<dc:creator><![CDATA[Fabiana Simões]]></dc:creator>
				<category><![CDATA[Uncategorized]]></category>

		<guid isPermaLink="false">https://www.guadec.org/?p=1932</guid>
		<description><![CDATA[This talk will take a look at CSS and how GTK uses and extends it. It will explore what you can do, what you should be able to do soon and what you cannot do with CSS. But mainly, this talk is about giving live demonstrations of these features and wooing the audience. Benjamin Otte [&#8230;]]]></description>
				<content:encoded><![CDATA[<p><span style="color: #444444;">This talk will take a look at CSS and how GTK uses and extends it. It will explore what you can do, what you should be able to do soon and what you cannot do with CSS.</p>
<p>But mainly, this talk is about giving live demonstrations of these features and wooing the audience.</span></p>
<hr />
<p><strong><span style="color: #444444;">Benjamin Otte</span></strong></p>
<p><span style="color: #444444;">Benjamin Otte is a lead developer of the GTK project. Among other things, he developed the CSS engine. When he&#8217;s not busy hacking, he can often be found playing Dota2.</span></p>
]]></content:encoded>
			<wfw:commentRss>https://2014.guadec.org/gtk-and-css/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Cheese: TNG (less libcheese, more D-Bus)</title>
		<link>https://2014.guadec.org/cheese-tng-less-libcheese-more-d-bus/</link>
		<comments>https://2014.guadec.org/cheese-tng-less-libcheese-more-d-bus/#comments</comments>
		<pubDate>Sun, 20 Jul 2014 16:01:37 +0000</pubDate>
		<dc:creator><![CDATA[Andreas Nilsson]]></dc:creator>
				<category><![CDATA[Uncategorized]]></category>

		<guid isPermaLink="false">https://www.guadec.org/?p=1929</guid>
		<description><![CDATA[Cheese has seen many upheavals over the years, such as being split into a library and UI, and the UI being ported to Vala. The library part was always problematic, especially once it started to be used by other applications. Now is a good time to simplify the API and remove it from Cheese once [&#8230;]]]></description>
				<content:encoded><![CDATA[<p><span style="color: #444444;">Cheese has seen many upheavals over the years, such as being split into a library and UI, and the UI being ported to Vala. The library part was always problematic, especially once it started to be used by other applications. Now is a good time to simplify the API and remove it from Cheese once and for all.<br />
This talk will cover the history of an unloved API, the shiny service which will replace it, and finally a future of portals.<br />
</span></p>
<hr />
<p>&nbsp;</p>
<p><strong>David King</strong></p>
<p><span style="color: #444444;">David has been involved in GNOME for several years, and maintains EasyTAG, Cheese and Logs. He is an honorary member of the documentation team, and enjoys build systems and static analysis.</span></p>
]]></content:encoded>
			<wfw:commentRss>https://2014.guadec.org/cheese-tng-less-libcheese-more-d-bus/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>GPG, SSH, and identity for beginners</title>
		<link>https://2014.guadec.org/gpg-ssh-and-identity-for-beginners/</link>
		<comments>https://2014.guadec.org/gpg-ssh-and-identity-for-beginners/#comments</comments>
		<pubDate>Sun, 20 Jul 2014 16:00:55 +0000</pubDate>
		<dc:creator><![CDATA[Fabiana Simões]]></dc:creator>
				<category><![CDATA[Uncategorized]]></category>

		<guid isPermaLink="false">https://www.guadec.org/?p=1930</guid>
		<description><![CDATA[Have you wondered why you need an SSH key (with passphrase!) in order to get an account at git.gnome.org? Are we gratuitous bureaucrats or something? Have you wondered why emails from maintainers sometimes have a GPG signature? Would you like to know how to ensure that people cannot forge emails from you? Would you like [&#8230;]]]></description>
				<content:encoded><![CDATA[<p><span style="color: #444444;">Have you wondered why you need an SSH key (with passphrase!) in order to get an account at git.gnome.org? Are we gratuitous bureaucrats or something? Have you wondered why emails from maintainers sometimes have a GPG signature? Would you like to know how to ensure that people cannot forge emails from you? Would you like to learn a little about the practical use of public-key cryptography? Would you like to learn about Seahorse, Gnome&#8217;s key management application? Would you like to know what those &#8220;GUADEC keysigning parties&#8221; are about? Then this talk is for you!</span></p>
<hr />
<p><strong> <span class="speaker">Federico Mena Quintero</span></strong></p>
<p><span style="color: #444444;">Federico is one of the founders of the GNOME project. He is into architecture, urbanism, urban cycling, cooking, photography, and hand-tool wodworking.</span></p>
]]></content:encoded>
			<wfw:commentRss>https://2014.guadec.org/gpg-ssh-and-identity-for-beginners/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>
