<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>opensuse &#8211; GUADEC 2016</title>
	<atom:link href="https://2016.guadec.org/tag/opensuse/feed/" rel="self" type="application/rss+xml" />
	<link>https://2016.guadec.org</link>
	<description>The GNOME Conference</description>
	<lastBuildDate>Thu, 06 Oct 2016 13:17:30 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.7</generator>
	<item>
		<title>openSUSE sponsors GUADEC 2016</title>
		<link>https://2016.guadec.org/2016/05/27/opensuse-sponsors-guadec-2016/</link>
		<pubDate>Fri, 27 May 2016 17:39:57 +0000</pubDate>
		<dc:creator><![CDATA[Alexandre Franke]]></dc:creator>
				<category><![CDATA[News]]></category>
		<category><![CDATA[opensuse]]></category>
		<category><![CDATA[sponsors]]></category>

		<guid isPermaLink="false">https://2016.guadec.org/?p=1013</guid>
		<description><![CDATA[We are excited to announce that openSUSE is sponsoring this year&#8217;s GUADEC. We have interviewed openSUSE&#8217;s Douglas DeMaio What&#8217;s your company and what relationship does it have to Free Software? The openSUSE Project is a community project. The project&#8217;s community creates, promotes, improves and documents Free Open Source Software. The project is sponsored by SUSE, &#8230;]]></description>
				<content:encoded><![CDATA[<p><img class="alignleft size-full wp-image-937" src="https://2016.guadec.org/wp-content/uploads/2016/05/gotherborg.jpg" width="120" height="120" /></p>
<p>We are excited to announce that openSUSE is sponsoring this year&#8217;s GUADEC. We have interviewed openSUSE&#8217;s Douglas DeMaio</p>
<hr />
<p><i><b>What&#8217;s your company and what relationship does it have to Free Software?</b></i></p>
<p>The openSUSE Project is a community project. The project&#8217;s community creates, promotes, improves and documents Free Open Source Software. The project is sponsored by SUSE, which is one of the oldest Linux Distributions, and we, openSUSE, are delighted to sponsor GUADEC.</p>
<p><i><b>What&#8217;s your relationship to the GNOME project?</b></i></p>
<p>We offer users choice with desktop environments and many of our members are GNOME users and contributors. We have a long history and great relationship with the GNOME project. Just recently, we worked with GNOME to develop a new conference in Portland called the Libre Application Summit, which is designed to attract and empower application developers both big and small. We contribute and work together on many different levels to improve FOSS. SUSE even has it as its enterprise desktop, so there is an extensive relationship between the two projects.</p>
<p><i><b>Why did you decide to sponsor GUADEC?</b></i></p>
<p>Sponsoring GUADEC is sort of a tradition, but more than that, it is about acknowledging the great people in the FOSS community who are dedicated to making free software. GUADEC provides an atmosphere where many of the ideas and values associated with free software are developed; Supporting the cause, helping people collaborate and bringing together people who make FOSS possible is a pleasure.</p>
<p><i><b>What excites you most about GUADEC?</b></i></p>
<p>The environment surrounding GUADEC is exciting, but the people attending the conference is what I believe is most exciting. The knowledge and ideas generated from the people in the GNOME community is impressive. Mix the people with the presentations and the social events in a historic European city and you have the elements for a sublime event.</p>
<p>&#8212;</p>
<p>&#8220;We are very happy to have openSUSE sponsoring GNOME and GUADEC as they are a very committed partner for delivering excellent Free Software to their users. We expect to see strong collaboration at GUADEC to make GNOME software a reliable corner stone in SUSE&#8217;s products&#8221;, says Tobias Mueller from the local organizing team.</p>
<p>If your company is also interested in sponsoring this year&#8217;s GUADEC, the annual GNOME event, head over to our <a href="/sponsors">sponsors page</a> or get in touch via email: sponsors@guadec.org.</p>
]]></content:encoded>
			</item>
	</channel>
</rss>
