<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>sponsors &#8211; GUADEC 2016</title>
	<atom:link href="https://2016.guadec.org/tag/sponsors/feed/" rel="self" type="application/rss+xml" />
	<link>https://2016.guadec.org</link>
	<description>The GNOME Conference</description>
	<lastBuildDate>Thu, 06 Oct 2016 13:17:30 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.7</generator>
	<item>
		<title>CS2C is sponsoring GUADEC</title>
		<link>https://2016.guadec.org/2016/07/14/cs2c-is-sponsoring-guadec/</link>
		<pubDate>Thu, 14 Jul 2016 09:16:16 +0000</pubDate>
		<dc:creator><![CDATA[muelli]]></dc:creator>
				<category><![CDATA[News]]></category>
		<category><![CDATA[cs2c]]></category>
		<category><![CDATA[sponsors]]></category>

		<guid isPermaLink="false">https://2016.guadec.org/?p=1161</guid>
		<description><![CDATA[For this year&#8217;s GUADEC our Chinese friends CS2C decided to sponsor the event. Because GUADEC is, at least by name, a European event, you might wonder what excites them so much about GNOME, that they decided to support not only our Asian event, but also the European one. We had the opportunity to ask them! &#8230;]]></description>
				<content:encoded><![CDATA[<p>For this year&#8217;s GUADEC our Chinese friends CS2C decided to sponsor the event.  Because GUADEC is, at least by name, a European event, you might wonder what excites them so much about GNOME, that they decided to support not only our Asian event, but also the European one. We had the opportunity to ask them! Let&#8217;s hear what Michal Lee, Public Relations Director of CS2C as well as volunteer in the GNOME Chinese community, has to say.</p>
<p><img src="https://2016.guadec.org/wp-content/uploads/2016/07/c.jpg" alt="Michael" width="350" class="alignleft size-full wp-image-1162" /></p>
<p><b><i>Hi Michael, can you briefly explain to us what makes you sponsor GNOME events over and over again?</i></b></p>
<p>CS2C and  GNOME China have been cooperating for more than 7 years.  We believe GNOME has a very steady and trustworthy desktop environment. As our company grows, we hope to have closer connection with the Free Software community. I used to be the Chairman of GNOME Beijing team and I am the initiator of this cooperation . I am very familiar with the GNOME community, so it is my preferred partner. Sponsoring GNOME is the first step, we hope to participate in more activities, so as to learn more about the rules and get more opportunity chances in the future.</p>
<p><b><i>We are very grateful for that. But what your company actually doing and how does it relate to the GNOME project?</i></b></p>
<p>CS2C is the largest Linux enterprise in China. We have been developing Linux-based operating systems since 2000. In the beginning, our desktop supported both a GNOME as well as a KDE environment. Later GNOME became our exclusive choice. After using  GNOME in our desktop and server products for 16 years, we have already come up with our own ways of customizing GNOME to cater for our Chinese customers. Our products, which generate annual sales in more than 2 million, have been deployed in many Chinese governments and industries in various domains such as education, medical, and transportation.</p>
<p><b><i>How hard is it to market the values of Free Software to your customers and what strategies do you have to do so?</i></b></p>
<p>In China, we usually name it  &#8220;open source software&#8221; instead of &#8220;Free Software&#8221; :-) Chinese open source software was originally represented by Linux. Before 2012, the most difficult problem is how to get our customers to know the open source software including its merits and faults. Since then, Chinese market environment has changed, as most IT users became familiar with the software after our promotion. We will prove that open source cannot only replace Windows, but also be safer and meet the environment of big data and cloud computing. What’s more, we will provide the users in various industries with more customized solutions.</p>
<p><b><i>What do you think could GNOME do to make it more attractive for people and companies in China to use Free Software?</i></b></p>
<p>Actually, I am also wondering about this question. GNOME gets a even cooler interface design which changes a lot. However, Chinese users are not used to the new design, while they prefer the old one. We modified GNOME 2 to a Windows-like version for the sake of our customers’ habits. The results are satisfying. As far as I know, open source software and business software are both for problem solving, so we didn’t blindly pursue the advanced technologies (we believe open source community did well on this), but paid more attention to the requirement of our users. In addition to the optimization of the interface, we also customized GNOME for the elderly and the medical industry etc., and the simple desktop environment is more user-friendly.  Therefore, we won the trust of our customers.</p>
<p>&#8212;</p>
<hr />
<p>Questions were asked by Tobias Mueller of the local organising team. If you or your organising would also like to sponsor this year&#8217;s GUADEC, visit our <a href="/sponsors">sponsors page</a> or get in touch via email: sponsors@guadec.org.</p>
]]></content:encoded>
			</item>
		<item>
		<title>Adfinis SyGroup sponsors GUADEC</title>
		<link>https://2016.guadec.org/2016/07/09/adfinis-sygroup-sponsors-guadec/</link>
		<pubDate>Sat, 09 Jul 2016 21:10:35 +0000</pubDate>
		<dc:creator><![CDATA[muelli]]></dc:creator>
				<category><![CDATA[News]]></category>
		<category><![CDATA[Adfinis]]></category>
		<category><![CDATA[sponsors]]></category>

		<guid isPermaLink="false">https://2016.guadec.org/?p=1139</guid>
		<description><![CDATA[In the growing list of this year&#8217;s sponsors, we can now also find Adfinis SyGroup, a Swiss consultancy delivering Free Software solutions to their customers. We were lucky to get our hands on one of the founders, Nicolas Christener. We shot a few questions at him to find out about their motivation to sponsor the &#8230;]]></description>
				<content:encoded><![CDATA[<p>In the growing list of this year&#8217;s sponsors, we can now also find Adfinis SyGroup, a Swiss consultancy delivering Free Software solutions to their customers. We were lucky to get our hands on one of the founders, Nicolas Christener. We shot a few questions at him to find out about their motivation to sponsor the event.</p>
<p><img src="https://2016.guadec.org/wp-content/uploads/2016/07/NC.jpg" alt="" width="350" class="alignleft size-full wp-image-1143" /></p>
<p><b><i>Nicolas, we met a few years back at LibreOffice Conference where you helped organising the event. Now you&#8217;re also supporting GNOME. Why have you decided to sponsor GUADEC this year?</i></b></p>
<p>GNOME was one of the first projects that attracted me as a Linux / Open Source newbie and as such it was one of the reasons that made me stay with GNU/Linux as my primary operating system. Later, I attended several GUADECs and got a foot into this awesome community. Nowadays, we use GNOME on a daily basis not only on the desktop systems at Adfinis SyGroup but also in several customer projects. With our sponsoring, we would like to give something back and say &#8220;thank you&#8221; to the whole community!</p>
<p><b><i>Wow, really cool. Your company creates Free Software-based solutions;  how much are GNOME technologies relevant for these solutions you offer your customers?</i></b></p>
<p>We are a pure Free Software company and try to avoid proprietary solutions whenever possible. In our experience, Free Software-based solutions are the foundation of today&#8217;s innovation and we cannot imagine a world without the Free Software ecosystem.</p>
<p>Our customers mostly rely on server side technologies, but we do have some desktop deployments where GNOME and GTK based tools are used on a day-to-day basis. And of course, many of our engineers use GNOME as their primary desktop system, Evolution as their MUA, etc. etc.</p>
<p><b><i>If you had one wish for the Free Software movement in general and, respectively, the GNOME project in particular, what would it be?</i></b></p>
<p>I really like the all embracing character of the GNOME community and would love to see this spread to the whole Free Software movement. An open community with a friendly spirit is the best way to spread the word, bring Free Software closer to the people and make it accessible for everyone.</p>
<p>Specifically regarding GNOME I would love to see some more people getting involved in the Evolution/EDS development &#8211; I use Evolution excessively and manage tons of emails with it. It&#8217;s one of the most important tools I use and I would love to see it flourishing and to get the love it deserves :)<br />
Kudos to the whole team, Evolution is an awesome piece of software!</p>
<p><b><i>What are looking forward to when thinking of the upcoming GUADEC?</i></b></p>
<p>I hope to meet some old friends and attend interesting talks and sessions. GUADEC has always inspired me in many ways and helped me to broaden my knowledge and my view over the whole stack. I really hope to catch up with the latest development around Flatpak and figure out what&#8217;s going on in GTK land.</p>
<p><b><i>Thanks Nicolas, I&#8217;m looking very much forward to seeing you at our event this year!</i></b></p>
<p>&#8212;</p>
<hr />
<p>Questions were asked by Tobias Mueller of the local organising team. If you or your organising would also like to sponsor this year&#8217;s GUADEC, visit our <a href="/sponsors">sponsors page</a> or get in touch via email: sponsors@guadec.org.</p>
]]></content:encoded>
			</item>
		<item>
		<title>Private Internet Access sponsors GUADEC</title>
		<link>https://2016.guadec.org/2016/07/02/private-internet-access-sponsors-guadec/</link>
		<pubDate>Sat, 02 Jul 2016 19:31:20 +0000</pubDate>
		<dc:creator><![CDATA[muelli]]></dc:creator>
				<category><![CDATA[News]]></category>
		<category><![CDATA[pia]]></category>
		<category><![CDATA[sponsors]]></category>

		<guid isPermaLink="false">https://2016.guadec.org/?p=1120</guid>
		<description><![CDATA[We are honoured to have Private Internet Access sponsoring our annual GNOME event: GUADEC. Private Internet Access has been around the GNOME community for quite a while now, so we took the liberty to ask Ted Kim, London Trust Media Inc&#8217;s CEO, some questions :) Let me assume that the casual reader does not exactly &#8230;]]></description>
				<content:encoded><![CDATA[<p>We are honoured to have Private Internet Access sponsoring our annual GNOME event: GUADEC. Private Internet Access has been around the GNOME community for quite a while now, so we took the liberty to ask Ted Kim, London Trust Media Inc&#8217;s CEO, some questions :)</p>
<p><img src="https://2016.guadec.org/wp-content/uploads/2016/07/ted-kim-london-trust-media.jpg" alt="ted kim london trust media" width="300" height="300" class="alignleft size-full wp-image-1190" /></p>
<p><b><i>Let me assume that the casual reader does not exactly know what Private Internet Access is all about. I know that ensures the users&#8217; freedom to browse the Web without having to fear censorship or being recorded. But is that really what you do?</i></b></p>
<p>This is a big part of what we do but our mission is actually far larger. We believe that the Internet should be freely accessible to all people. There should be no fear of being watched, surveilled, or tracked by anyone when we use Internet protocols and services.</p>
<p>But we&#8217;re also on a mission to ensure civil liberties in the digital age. The most fundamental civil liberties used to be promised and guaranteed by government. Today, there are many threats, both external and internal, to those liberties. These liberties are the foundation of the society on which the free world is built upon &#8211; and we still deserve them. Liberty, and by extension privacy, needs to be fought for.</p>
<p>We fight for this not just because we believe that it is good for business, but because we believe in it truly and because it is deeply embedded in the philosophy and ethos of our company. Everybody now needs to do their part in order to ensure our children are free to do something as mundane as sending private messages to their family or friends.</p>
<p>We fight for privacy. Everywhere and on all levels. Privacy is our policy.</p>
<p><b><i>Wow, that sounds really good. How much is Free Software a necessary pre-condition for achieving that freedom?</i></b></p>
<p>Absolutely vital. Were it not for Free Software, cryptography and privacy would no longer exist. Even governmental reports conclude this when they analyze the potential effects of &#8220;banning encryption&#8221; (a dangerous idea that comes back again and again): it is utterly impossible, precisely because you can only ban commercial endeavors and not the free software that is analogous to speech and knows no borders.</p>
<p>It exists, it is free; and therefore, it ensures our liberty.</p>
<p><b><i>Since when does Private Internet Access support Free Software?</i></b></p>
<p>We have always done so because to do so is in our very nature. Were it not for Free Software, somebody else would hold a kill switch to your privacy, and sell you out for surveillance from the highest bidder. That notion is unacceptable to us.</p>
<p>Today, you can no longer separate the success of Free Software and the resistance to mass surveillance. They are intrinsically linked. We are both proud and happy about being part of this humanity preserving industry.</p>
<p><b><i>That&#8217;s cool! How do GNOME technologies help Private Internet Access?</i></b></p>
<p>All Free Software communities help PIA in one way or another, merely by advancing the concept of uncensorable code, and therefore uncensorable ideas and liberty. However, a few shining reasons stand out. Those that bring awareness of Free Software and the way it unshackles you &#8211; whether as a business, as an individual, or as a carrier of ideas &#8211; are a catalyst for others. In this, GNOME has always been instrumental in providing a gateway experience on par with commercial offerings, to facilitate more people discovering the option of Free Software and making the switch.</p>
<p><b><i>What do you think GNOME needs to do in order to be more attractive to companies like yours?</i></b></p>
<p>VPN support in GNOME is already good; however, additional focus on privacy and liberty &#8211; not to mention ease of use thereof &#8211; is always met with an approving nod.</p>
<p>&#8212;</p>
<hr />
<p>Questions were asked by Tobias Mueller of the local organising team. If you or your organising would also like to sponsor this year&#8217;s GUADEC, visit our <a href="/sponsors">sponsors page</a> or get in touch via email: sponsors@guadec.org.</p>
]]></content:encoded>
			</item>
		<item>
		<title>Endless to sponsor GUADEC</title>
		<link>https://2016.guadec.org/2016/06/15/endless-to-sponsor-guadec/</link>
		<pubDate>Wed, 15 Jun 2016 16:33:56 +0000</pubDate>
		<dc:creator><![CDATA[muelli]]></dc:creator>
				<category><![CDATA[News]]></category>
		<category><![CDATA[endless]]></category>
		<category><![CDATA[sponsors]]></category>

		<guid isPermaLink="false">https://2016.guadec.org/?p=1070</guid>
		<description><![CDATA[We are thrilled to see Endless sponsoring GUADEC this year. We had the chance to talk to Endless&#8217; Nuritzi. Let&#8217;s hear about what they do and what made them sponsor GUADEC this year. What&#8217;s your company and what relationship does it have to Free Software? Endless is a social enterprise with the mission of making &#8230;]]></description>
				<content:encoded><![CDATA[<p>We are thrilled to see Endless sponsoring GUADEC this year. We had the chance to talk to Endless&#8217; Nuritzi. Let&#8217;s hear about what they do and what made them sponsor GUADEC this year.</p>
<p><img class="alignleft size-full wp-image-1071" src="https://2016.guadec.org/wp-content/uploads/2016/06/Nuritzi-headshot.jpg" alt="Nuritzi headshot" width="300" /></p>
<p><b><i>What&#8217;s your company and what relationship does it have to Free Software?</i></b></p>
<p>Endless is a social enterprise with the mission of making computing universally accessible. We are built on the GNOME stack and incorporate other Free and Open Source technologies into Endless OS. We believe in the power of desktop operating systems and believe that GNU/Linux is going to play a powerful part in empowering the world’s billions who cannot yet participate in the digital age. Many members of our team are long-time FOSS contributors who have a passion for social impact, and Endless actively supports them continuing to contribute to the various projects they are a part of.<br />
<img class="alignright size-full wp-image-1081" src="https://2016.guadec.org/wp-content/uploads/2016/06/Guatemala-User-Testing-2.jpg" alt="Guatemala User Testing 2" width="300" /></p>
<p><b><i>That sounds cool! But what is your company actually doing and how does it relate to the GNOME project?</i></b></p>
<p>Endless OS is designed to be intuitive for users who are new to technology, and is meant to leverage the Internet instead of depending on it because a lot of our users have bad, none, or expensive Internet connections. We have modified the GNOME stack to achieve these goals, and are contributing upstream so that we can grown alongside GNOME. We are very excited about new technologies like GNOME Software, Builder, and Flatpak, and are contributing to the growth of the Linux app ecosystem by creating our own apps and convincing others to start developing Flatpak apps too. Endless is heavily invested in the growth and success of GNOME — a lot of our team members are active GNOME contributors, we joined the Advisory Board last year, and two of us will be part of the next GNOME Board of Directors in the upcoming term. We’ve also hosted a couple of hackathons, including a design hackathon in Brazil, where our own design team collaborated with GNOME’s in order to help make GNOME Software more accessible and intuitive to more users, including some of our users in places like the favelas of Brazil!</p>
<p><b><i>What are your impressions from last GUADEC?</i></b></p>
<p>Last year was the first time that I attended a GUADEC and I was blown away by how friendly the community was. There weren’t a lot of obvious cliques, instead, it seemed like friends were gathering to catch up and work together and that they were eager to welcome newcomers. I had a blast at the social events that Julita Inca Chiroque and Carlos Soriano organized and I’m happy to say that I made some great new friendships along the way. It was also great to put faces to names that I had seen on IRC and throughout the project. As far as the content of the conference goes, I’m not a developer and was able to find the talks that I attended very useful and engaging — I learned a lot.</p>
<p><b><i>What are you looking forward to seeing this year?</i></b></p>
<p>This will be my first year serving on the GNOME Board of Directors, so I’m very excited about that! Besides that, I’m really looking forward to catching up with everyone I met last year, and am very eager for the BoFs. In-person sessions are so important in helping us collaborate effectively with people spread out all over the world. I first became addicted to GNOME via last year’s BoF sessions and I’m hoping we can get more people hooked this year.</p>
<p>&#8212;</p>
<p>Questions were asked by Tobias Mueller of the local organising team. If you or your organising would also like to sponsor this year&#8217;s GUADEC, visit our <a href="/sponsors">sponsors page</a> or get in touch via email: sponsors@guadec.org.</p>
]]></content:encoded>
			</item>
		<item>
		<title>openSUSE sponsors GUADEC 2016</title>
		<link>https://2016.guadec.org/2016/05/27/opensuse-sponsors-guadec-2016/</link>
		<pubDate>Fri, 27 May 2016 17:39:57 +0000</pubDate>
		<dc:creator><![CDATA[Alexandre Franke]]></dc:creator>
				<category><![CDATA[News]]></category>
		<category><![CDATA[opensuse]]></category>
		<category><![CDATA[sponsors]]></category>

		<guid isPermaLink="false">https://2016.guadec.org/?p=1013</guid>
		<description><![CDATA[We are excited to announce that openSUSE is sponsoring this year&#8217;s GUADEC. We have interviewed openSUSE&#8217;s Douglas DeMaio What&#8217;s your company and what relationship does it have to Free Software? The openSUSE Project is a community project. The project&#8217;s community creates, promotes, improves and documents Free Open Source Software. The project is sponsored by SUSE, &#8230;]]></description>
				<content:encoded><![CDATA[<p><img class="alignleft size-full wp-image-937" src="https://2016.guadec.org/wp-content/uploads/2016/05/gotherborg.jpg" width="120" height="120" /></p>
<p>We are excited to announce that openSUSE is sponsoring this year&#8217;s GUADEC. We have interviewed openSUSE&#8217;s Douglas DeMaio</p>
<hr />
<p><i><b>What&#8217;s your company and what relationship does it have to Free Software?</b></i></p>
<p>The openSUSE Project is a community project. The project&#8217;s community creates, promotes, improves and documents Free Open Source Software. The project is sponsored by SUSE, which is one of the oldest Linux Distributions, and we, openSUSE, are delighted to sponsor GUADEC.</p>
<p><i><b>What&#8217;s your relationship to the GNOME project?</b></i></p>
<p>We offer users choice with desktop environments and many of our members are GNOME users and contributors. We have a long history and great relationship with the GNOME project. Just recently, we worked with GNOME to develop a new conference in Portland called the Libre Application Summit, which is designed to attract and empower application developers both big and small. We contribute and work together on many different levels to improve FOSS. SUSE even has it as its enterprise desktop, so there is an extensive relationship between the two projects.</p>
<p><i><b>Why did you decide to sponsor GUADEC?</b></i></p>
<p>Sponsoring GUADEC is sort of a tradition, but more than that, it is about acknowledging the great people in the FOSS community who are dedicated to making free software. GUADEC provides an atmosphere where many of the ideas and values associated with free software are developed; Supporting the cause, helping people collaborate and bringing together people who make FOSS possible is a pleasure.</p>
<p><i><b>What excites you most about GUADEC?</b></i></p>
<p>The environment surrounding GUADEC is exciting, but the people attending the conference is what I believe is most exciting. The knowledge and ideas generated from the people in the GNOME community is impressive. Mix the people with the presentations and the social events in a historic European city and you have the elements for a sublime event.</p>
<p>&#8212;</p>
<p>&#8220;We are very happy to have openSUSE sponsoring GNOME and GUADEC as they are a very committed partner for delivering excellent Free Software to their users. We expect to see strong collaboration at GUADEC to make GNOME software a reliable corner stone in SUSE&#8217;s products&#8221;, says Tobias Mueller from the local organizing team.</p>
<p>If your company is also interested in sponsoring this year&#8217;s GUADEC, the annual GNOME event, head over to our <a href="/sponsors">sponsors page</a> or get in touch via email: sponsors@guadec.org.</p>
]]></content:encoded>
			</item>
	</channel>
</rss>
