<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>GUADEC 2014 &#187; Fabiana Simões</title>
	<atom:link href="https://2014.guadec.org/author/fabiana/feed/" rel="self" type="application/rss+xml" />
	<link>https://2014.guadec.org</link>
	<description>The GNOME Conference</description>
	<lastBuildDate>Mon, 12 Jan 2015 14:08:27 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>http://wordpress.org/?v=4.1</generator>
	<item>
		<title>GNOME and Wayland</title>
		<link>https://2014.guadec.org/gnome-and-wayland/</link>
		<comments>https://2014.guadec.org/gnome-and-wayland/#comments</comments>
		<pubDate>Sun, 20 Jul 2014 16:12:38 +0000</pubDate>
		<dc:creator><![CDATA[Fabiana Simões]]></dc:creator>
				<category><![CDATA[Uncategorized]]></category>

		<guid isPermaLink="false">https://www.guadec.org/?p=1947</guid>
		<description><![CDATA[Learn about the status of Wayland in GNOME, and the overall benefits of the next-generation display server technology that&#8217;s going to be the default in GNOME 3.14. Jasper St. Pierre I&#8217;ve been a GNOME contributor for ~6 years and Red Hat employee for 4 years. I&#8217;m primarily working on making GNOME run on Wayland these [&#8230;]]]></description>
				<content:encoded><![CDATA[<p><span style="color: #444444;">Learn about the status of Wayland in GNOME, and the overall benefits of the next-generation display server technology that&#8217;s going to be the default in GNOME 3.14.</span></p>
<hr />
<p><strong> <span class="speaker">Jasper St. Pierre</span></strong></p>
<p><span style="color: #444444;"> I&#8217;ve been a GNOME contributor for ~6 years and Red Hat employee for 4 years. I&#8217;m primarily working on making GNOME run on Wayland these days.</span></p>
]]></content:encoded>
			<wfw:commentRss>https://2014.guadec.org/gnome-and-wayland/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Wayland support in WebKit2GTK+</title>
		<link>https://2014.guadec.org/wayland-support-in-webkit2gtk/</link>
		<comments>https://2014.guadec.org/wayland-support-in-webkit2gtk/#comments</comments>
		<pubDate>Sun, 20 Jul 2014 16:07:10 +0000</pubDate>
		<dc:creator><![CDATA[Fabiana Simões]]></dc:creator>
				<category><![CDATA[Uncategorized]]></category>

		<guid isPermaLink="false">https://www.guadec.org/?p=1941</guid>
		<description><![CDATA[Although most of the Wayland porting work will be solved by UI toolkits like GTK+, when X dependencies go beyond an implementation detail and have an influence on how a particular feature was designed, porting the software to Wayland can be more challenging. WebKit2GTK+ is one such case due to the split process architecture that [&#8230;]]]></description>
				<content:encoded><![CDATA[<p><span style="color: #444444;">Although most of the Wayland porting work will be solved by UI toolkits like GTK+, when X dependencies go beyond an implementation detail and have an influence on how a particular feature was designed, porting the software to Wayland can be more challenging. WebKit2GTK+ is one such case due to the split process architecture that comes with WebKit2, where rendering happens across two processes that need optimal (zero-copy) mechanisms to share an accelerated graphics surface for its Accelerated Compositing feature. This talk is intended for developers interested in porting applications to Wayland that need to share accelerated graphics between two processes. The talk will focus on WebKit2GTK+ as a case study, explaining how WebKit2&#8217;s architecture and X influenced the original design and implementation of Accelerated Compositing and how this feature is redesigned and implemented for Wayland.</span></p>
<hr />
<p><strong><span style="color: #444444;">Žan Doberšek</span></strong></p>
<p><span style="color: #444444;"><span style="color: #444444;">Žan Doberšek</span> is a fresh addition to Igalia&#8217;s Browsers team but has contributed to WebKitGTK+ for years before that. Recently he&#8217;s been part of the team tasked to bring Wayland support to the GNOME&#8217;s favorite web engine and can share first-hand experience about it.</span></p>
]]></content:encoded>
			<wfw:commentRss>https://2014.guadec.org/wayland-support-in-webkit2gtk/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Where has all the Python gone?</title>
		<link>https://2014.guadec.org/where-has-all-the-python-gone/</link>
		<comments>https://2014.guadec.org/where-has-all-the-python-gone/#comments</comments>
		<pubDate>Sun, 20 Jul 2014 16:05:37 +0000</pubDate>
		<dc:creator><![CDATA[Fabiana Simões]]></dc:creator>
				<category><![CDATA[Uncategorized]]></category>

		<guid isPermaLink="false">https://www.guadec.org/?p=1938</guid>
		<description><![CDATA[Despite being historically popular, the use of Python in GNOME has been declining over the last few years. In contrast, the PyGObject bindings are extremely capable, and the popularity of Python in scientific and engineering fields has been growing. In this talk I will highlight some of the strengths of python including Its integration with [&#8230;]]]></description>
				<content:encoded><![CDATA[<p><span style="color: #444444;">Despite being historically popular, the use of Python in GNOME has been declining over the last few years. In contrast, the PyGObject bindings are extremely capable, and the popularity of Python in scientific and engineering fields has been growing.</span></p>
<p>In this talk I will highlight some of the strengths of python including</p>
<ul>
<li><span style="color: #444444;"> Its integration with existing best-of-class frameworks (Robot Operating System, OpenCV, Machine learning/scikit-learn)</span></li>
<li><span style="color: #444444;">Many options for integrating with native code</span></li>
<li><span style="color: #444444;"> The IPython web notebook development environment and the use of Python as a teaching tool</span></li>
</ul>
<p><span style="color: #444444;"> I intend to propose that through embracing python, and with a few small changes of strategy, that the GNOME platform could be a valuable member of the scientific ecosystem.</span></p>
<hr />
<p><strong> <span class="speaker">John Stowers</span></strong></p>
<p><span style="color: #444444;">I&#8217;m a Postdoc researcher at the TU Wien and the Institute of Molecular Pathology. Using virtual reality and real-time control systems, I study how insects see and navigate their environment in order to understand how image motion is understood in the brain.</span></p>
<p>I also maintain gnome-tweak-tool in my spare time.</p>
]]></content:encoded>
			<wfw:commentRss>https://2014.guadec.org/where-has-all-the-python-gone/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>GNOME Infrastructure: Authentication Evolved</title>
		<link>https://2014.guadec.org/gnome-infrastructure-authentication-evolved/</link>
		<comments>https://2014.guadec.org/gnome-infrastructure-authentication-evolved/#comments</comments>
		<pubDate>Sun, 20 Jul 2014 16:03:38 +0000</pubDate>
		<dc:creator><![CDATA[Fabiana Simões]]></dc:creator>
				<category><![CDATA[Uncategorized]]></category>

		<guid isPermaLink="false">https://www.guadec.org/?p=1936</guid>
		<description><![CDATA[At GNOME, we deployed a single authentication system with the use of Federated Open Authentication provider (FedOAuth). This talk gives some background about FedOAuth and it&#8217;s features and the deployment in the GNOME Infrastructure. Patrick Uiterwijk Patrick Uiterwijk is a software engineer working at Red Hat and one of the core system administrators for the [&#8230;]]]></description>
				<content:encoded><![CDATA[<p><span style="color: #444444;">At GNOME, we deployed a single authentication system with the use of Federated Open Authentication provider (FedOAuth). This talk gives some background about FedOAuth and it&#8217;s features and the deployment in the GNOME Infrastructure.</span></p>
<hr />
<p><strong> <span class="speaker">Patrick Uiterwijk</span></strong></p>
<p><span style="color: #444444;">Patrick Uiterwijk is a software engineer working at Red Hat and one of the core system administrators for the GNOME project.</span></p>
<p>&nbsp;</p>
]]></content:encoded>
			<wfw:commentRss>https://2014.guadec.org/gnome-infrastructure-authentication-evolved/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>GTK and CSS</title>
		<link>https://2014.guadec.org/gtk-and-css/</link>
		<comments>https://2014.guadec.org/gtk-and-css/#comments</comments>
		<pubDate>Sun, 20 Jul 2014 16:02:14 +0000</pubDate>
		<dc:creator><![CDATA[Fabiana Simões]]></dc:creator>
				<category><![CDATA[Uncategorized]]></category>

		<guid isPermaLink="false">https://www.guadec.org/?p=1932</guid>
		<description><![CDATA[This talk will take a look at CSS and how GTK uses and extends it. It will explore what you can do, what you should be able to do soon and what you cannot do with CSS. But mainly, this talk is about giving live demonstrations of these features and wooing the audience. Benjamin Otte [&#8230;]]]></description>
				<content:encoded><![CDATA[<p><span style="color: #444444;">This talk will take a look at CSS and how GTK uses and extends it. It will explore what you can do, what you should be able to do soon and what you cannot do with CSS.</p>
<p>But mainly, this talk is about giving live demonstrations of these features and wooing the audience.</span></p>
<hr />
<p><strong><span style="color: #444444;">Benjamin Otte</span></strong></p>
<p><span style="color: #444444;">Benjamin Otte is a lead developer of the GTK project. Among other things, he developed the CSS engine. When he&#8217;s not busy hacking, he can often be found playing Dota2.</span></p>
]]></content:encoded>
			<wfw:commentRss>https://2014.guadec.org/gtk-and-css/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>GPG, SSH, and identity for beginners</title>
		<link>https://2014.guadec.org/gpg-ssh-and-identity-for-beginners/</link>
		<comments>https://2014.guadec.org/gpg-ssh-and-identity-for-beginners/#comments</comments>
		<pubDate>Sun, 20 Jul 2014 16:00:55 +0000</pubDate>
		<dc:creator><![CDATA[Fabiana Simões]]></dc:creator>
				<category><![CDATA[Uncategorized]]></category>

		<guid isPermaLink="false">https://www.guadec.org/?p=1930</guid>
		<description><![CDATA[Have you wondered why you need an SSH key (with passphrase!) in order to get an account at git.gnome.org? Are we gratuitous bureaucrats or something? Have you wondered why emails from maintainers sometimes have a GPG signature? Would you like to know how to ensure that people cannot forge emails from you? Would you like [&#8230;]]]></description>
				<content:encoded><![CDATA[<p><span style="color: #444444;">Have you wondered why you need an SSH key (with passphrase!) in order to get an account at git.gnome.org? Are we gratuitous bureaucrats or something? Have you wondered why emails from maintainers sometimes have a GPG signature? Would you like to know how to ensure that people cannot forge emails from you? Would you like to learn a little about the practical use of public-key cryptography? Would you like to learn about Seahorse, Gnome&#8217;s key management application? Would you like to know what those &#8220;GUADEC keysigning parties&#8221; are about? Then this talk is for you!</span></p>
<hr />
<p><strong> <span class="speaker">Federico Mena Quintero</span></strong></p>
<p><span style="color: #444444;">Federico is one of the founders of the GNOME project. He is into architecture, urbanism, urban cycling, cooking, photography, and hand-tool wodworking.</span></p>
]]></content:encoded>
			<wfw:commentRss>https://2014.guadec.org/gpg-ssh-and-identity-for-beginners/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>The GTK+ scene graph tool kit</title>
		<link>https://2014.guadec.org/the-gtk-scene-graph-tool-kit/</link>
		<comments>https://2014.guadec.org/the-gtk-scene-graph-tool-kit/#comments</comments>
		<pubDate>Sun, 20 Jul 2014 15:59:50 +0000</pubDate>
		<dc:creator><![CDATA[Fabiana Simões]]></dc:creator>
				<category><![CDATA[Uncategorized]]></category>

		<guid isPermaLink="false">https://www.guadec.org/?p=1926</guid>
		<description><![CDATA[At GUADEC 2013 I presented a talk about designing the future canvas API inside GTK+, and how we could learn from the lessons of Clutter as well as from other platforms like the Web. After a year spent implementing that design, I will explain what I did, what I had to learn, and what I [&#8230;]]]></description>
				<content:encoded><![CDATA[<p>A<span style="color: #444444;">t GUADEC 2013 I presented a talk about designing the future canvas API inside GTK+, and how we could learn from the lessons of Clutter as well as from other platforms like the Web.</p>
<p>After a year spent implementing that design, I will explain what I did, what I had to learn, and what I had to change of that original vision, as well as showing what the future of the GNOME core tool kit will look like.</p>
<p>Unlike the talks from previous years, this talk will not feature: memes, ponies, or rainbows. it will feature data structures for 3D math, layers, and the occasional topical reference to the pop culture fad of this summer. there will be screen shots, and possibly live demos.</span></p>
<hr />
<p><strong> <span class="speaker">Emmanuele Bassi</span></strong></p>
<p><span style="color: #444444;">Emmanuele has been working on the core of the GNOME platform for years; he also maintains Clutter, a tool kit that he is now trying desperately to replace with GTK+ without having to regress UIs to 2003.</span></p>
]]></content:encoded>
			<wfw:commentRss>https://2014.guadec.org/the-gtk-scene-graph-tool-kit/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Lessons learned as GNOME Executive Director</title>
		<link>https://2014.guadec.org/lessons-learned-as-gnome-executive-director/</link>
		<comments>https://2014.guadec.org/lessons-learned-as-gnome-executive-director/#comments</comments>
		<pubDate>Sun, 20 Jul 2014 15:57:01 +0000</pubDate>
		<dc:creator><![CDATA[Fabiana Simões]]></dc:creator>
				<category><![CDATA[Uncategorized]]></category>

		<guid isPermaLink="false">https://www.guadec.org/?p=1918</guid>
		<description><![CDATA[The three years Karen spent as Executive Director of the GNOME Foundation were a crash course in all things GNOME. Karen will share her thoughts on the GNOME community, the challenges we&#8217;ve faced and thoughts on where we should be going. Karen M. Sandler Karen M. Sandler is Executive Director of the Software Freedom Conservancy. [&#8230;]]]></description>
				<content:encoded><![CDATA[<p>The three years Karen spent as Executive Director of the GNOME Foundation were a crash course in all things GNOME. Karen will share her thoughts on the GNOME community, the challenges we&#8217;ve faced and thoughts on where we should be going.</p>
<hr />
<p><strong>Karen M. Sandler</strong></p>
<p>Karen M. Sandler is Executive Director of the Software Freedom Conservancy. She was previously the Executive Director of the GNOME Foundation. In partnership with the GNOME Foundation, Karen co-organizes the award winning Outreach Program for Women. Prior to taking up this position, Karen was General Counsel of the Software Freedom Law Center (SFLC). She continues to do pro bono legal work with SFLC, the GNOME Foundation and QuestionCopyright.Org. Before joining SFLC, Karen worked as an associate in the corporate departments of Gibson, Dunn &amp; Crutcher LLP in New York and Clifford Chance in New York and London. Karen received her law degree from Columbia Law School in 2000, where she was a James Kent Scholar and co-founder of the Columbia Science and Technology Law Review. Karen received her bachelor’s degree in engineering from The Cooper Union. She is a recipient of an O&#8217;Reilly Open Source Award and also co-host of the “Free as in Freedom” podcast.</p>
]]></content:encoded>
			<wfw:commentRss>https://2014.guadec.org/lessons-learned-as-gnome-executive-director/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>GTK+, dialogs, the HIG and you</title>
		<link>https://2014.guadec.org/gtk-dialogs-the-hig-and-you/</link>
		<comments>https://2014.guadec.org/gtk-dialogs-the-hig-and-you/#comments</comments>
		<pubDate>Sun, 20 Jul 2014 15:52:52 +0000</pubDate>
		<dc:creator><![CDATA[Fabiana Simões]]></dc:creator>
				<category><![CDATA[Uncategorized]]></category>

		<guid isPermaLink="false">https://www.guadec.org/?p=1915</guid>
		<description><![CDATA[In this talk, I will look at the recommendations of the GNOME HIG for dialogs and explore how they can be realized with the current GTK+ and glade. While the main focus will be on dialogs, I may also try to cover a few topics that have traditionally been handled by dialogs, for which other [&#8230;]]]></description>
				<content:encoded><![CDATA[<p><span style="color: #444444;">In this talk, I will look at the recommendations of the GNOME HIG for dialogs and explore how they can be realized with the current GTK+ and glade. While the main focus will be on dialogs, I may also try to cover a few topics that have traditionally been handled by dialogs, for which other approaches are now recommended, such as Search.</p>
<p>This talk will be aimed at application developers, no deep experience with GTK+ is required.</span></p>
<hr />
<p><strong><span style="color: #444444;">Matthias Clasen</span></strong></p>
<p><span style="color: #444444;">Matthias Clasen has been working on GTK+ for more than 10 years. He is a manager in the desktop team at Red Hat.</span></p>
<p>&nbsp;</p>
]]></content:encoded>
			<wfw:commentRss>https://2014.guadec.org/gtk-dialogs-the-hig-and-you/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Documentation: state of the union</title>
		<link>https://2014.guadec.org/documentation-state-of-the-union/</link>
		<comments>https://2014.guadec.org/documentation-state-of-the-union/#comments</comments>
		<pubDate>Sun, 20 Jul 2014 15:51:34 +0000</pubDate>
		<dc:creator><![CDATA[Fabiana Simões]]></dc:creator>
				<category><![CDATA[Uncategorized]]></category>

		<guid isPermaLink="false">https://www.guadec.org/?p=1911</guid>
		<description><![CDATA[Much has happened in the documentation realm since GUADEC 2013. The team has worked with the translation team, worked on the 3.12 release (the best documented release to date), thought about ways to improve the documentation tracking infrastructure and how to automate screenshots, taken on two interns, completed the guide to GNOME for system administrators, [&#8230;]]]></description>
				<content:encoded><![CDATA[<p><span style="color: #444444;">Much has happened in the documentation realm since GUADEC 2013. The team has worked with the translation team, worked on the 3.12 release (the best documented release to date), thought about ways to improve the documentation tracking infrastructure and how to automate screenshots, taken on two interns, completed the guide to GNOME for system administrators, reviewed the state of the developer documentation, worked with some great maintainers and much more…</span></p>
<hr />
<p><strong><span style="color: #444444;">Ekaterina Gerasimova</span></strong></p>
<p><span style="color: #444444;">Kat inherited the title of the documentation team fearless leader/benevolent dictator in 2014 from Shaun, having done an internship with the team in 2011 and become addicted to contributing ever since.</span></p>
<p>&nbsp;</p>
]]></content:encoded>
			<wfw:commentRss>https://2014.guadec.org/documentation-state-of-the-union/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>
