<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>endless &#8211; GUADEC 2016</title>
	<atom:link href="https://2016.guadec.org/tag/endless/feed/" rel="self" type="application/rss+xml" />
	<link>https://2016.guadec.org</link>
	<description>The GNOME Conference</description>
	<lastBuildDate>Thu, 06 Oct 2016 13:17:30 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.7</generator>
	<item>
		<title>Endless to sponsor GUADEC</title>
		<link>https://2016.guadec.org/2016/06/15/endless-to-sponsor-guadec/</link>
		<pubDate>Wed, 15 Jun 2016 16:33:56 +0000</pubDate>
		<dc:creator><![CDATA[muelli]]></dc:creator>
				<category><![CDATA[News]]></category>
		<category><![CDATA[endless]]></category>
		<category><![CDATA[sponsors]]></category>

		<guid isPermaLink="false">https://2016.guadec.org/?p=1070</guid>
		<description><![CDATA[We are thrilled to see Endless sponsoring GUADEC this year. We had the chance to talk to Endless&#8217; Nuritzi. Let&#8217;s hear about what they do and what made them sponsor GUADEC this year. What&#8217;s your company and what relationship does it have to Free Software? Endless is a social enterprise with the mission of making &#8230;]]></description>
				<content:encoded><![CDATA[<p>We are thrilled to see Endless sponsoring GUADEC this year. We had the chance to talk to Endless&#8217; Nuritzi. Let&#8217;s hear about what they do and what made them sponsor GUADEC this year.</p>
<p><img class="alignleft size-full wp-image-1071" src="https://2016.guadec.org/wp-content/uploads/2016/06/Nuritzi-headshot.jpg" alt="Nuritzi headshot" width="300" /></p>
<p><b><i>What&#8217;s your company and what relationship does it have to Free Software?</i></b></p>
<p>Endless is a social enterprise with the mission of making computing universally accessible. We are built on the GNOME stack and incorporate other Free and Open Source technologies into Endless OS. We believe in the power of desktop operating systems and believe that GNU/Linux is going to play a powerful part in empowering the world’s billions who cannot yet participate in the digital age. Many members of our team are long-time FOSS contributors who have a passion for social impact, and Endless actively supports them continuing to contribute to the various projects they are a part of.<br />
<img class="alignright size-full wp-image-1081" src="https://2016.guadec.org/wp-content/uploads/2016/06/Guatemala-User-Testing-2.jpg" alt="Guatemala User Testing 2" width="300" /></p>
<p><b><i>That sounds cool! But what is your company actually doing and how does it relate to the GNOME project?</i></b></p>
<p>Endless OS is designed to be intuitive for users who are new to technology, and is meant to leverage the Internet instead of depending on it because a lot of our users have bad, none, or expensive Internet connections. We have modified the GNOME stack to achieve these goals, and are contributing upstream so that we can grown alongside GNOME. We are very excited about new technologies like GNOME Software, Builder, and Flatpak, and are contributing to the growth of the Linux app ecosystem by creating our own apps and convincing others to start developing Flatpak apps too. Endless is heavily invested in the growth and success of GNOME — a lot of our team members are active GNOME contributors, we joined the Advisory Board last year, and two of us will be part of the next GNOME Board of Directors in the upcoming term. We’ve also hosted a couple of hackathons, including a design hackathon in Brazil, where our own design team collaborated with GNOME’s in order to help make GNOME Software more accessible and intuitive to more users, including some of our users in places like the favelas of Brazil!</p>
<p><b><i>What are your impressions from last GUADEC?</i></b></p>
<p>Last year was the first time that I attended a GUADEC and I was blown away by how friendly the community was. There weren’t a lot of obvious cliques, instead, it seemed like friends were gathering to catch up and work together and that they were eager to welcome newcomers. I had a blast at the social events that Julita Inca Chiroque and Carlos Soriano organized and I’m happy to say that I made some great new friendships along the way. It was also great to put faces to names that I had seen on IRC and throughout the project. As far as the content of the conference goes, I’m not a developer and was able to find the talks that I attended very useful and engaging — I learned a lot.</p>
<p><b><i>What are you looking forward to seeing this year?</i></b></p>
<p>This will be my first year serving on the GNOME Board of Directors, so I’m very excited about that! Besides that, I’m really looking forward to catching up with everyone I met last year, and am very eager for the BoFs. In-person sessions are so important in helping us collaborate effectively with people spread out all over the world. I first became addicted to GNOME via last year’s BoF sessions and I’m hoping we can get more people hooked this year.</p>
<p>&#8212;</p>
<p>Questions were asked by Tobias Mueller of the local organising team. If you or your organising would also like to sponsor this year&#8217;s GUADEC, visit our <a href="/sponsors">sponsors page</a> or get in touch via email: sponsors@guadec.org.</p>
]]></content:encoded>
			</item>
	</channel>
</rss>
