<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Adfinis &#8211; GUADEC 2016</title>
	<atom:link href="https://2016.guadec.org/tag/adfinis/feed/" rel="self" type="application/rss+xml" />
	<link>https://2016.guadec.org</link>
	<description>The GNOME Conference</description>
	<lastBuildDate>Thu, 06 Oct 2016 13:17:30 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.7</generator>
	<item>
		<title>Adfinis SyGroup sponsors GUADEC</title>
		<link>https://2016.guadec.org/2016/07/09/adfinis-sygroup-sponsors-guadec/</link>
		<pubDate>Sat, 09 Jul 2016 21:10:35 +0000</pubDate>
		<dc:creator><![CDATA[muelli]]></dc:creator>
				<category><![CDATA[News]]></category>
		<category><![CDATA[Adfinis]]></category>
		<category><![CDATA[sponsors]]></category>

		<guid isPermaLink="false">https://2016.guadec.org/?p=1139</guid>
		<description><![CDATA[In the growing list of this year&#8217;s sponsors, we can now also find Adfinis SyGroup, a Swiss consultancy delivering Free Software solutions to their customers. We were lucky to get our hands on one of the founders, Nicolas Christener. We shot a few questions at him to find out about their motivation to sponsor the &#8230;]]></description>
				<content:encoded><![CDATA[<p>In the growing list of this year&#8217;s sponsors, we can now also find Adfinis SyGroup, a Swiss consultancy delivering Free Software solutions to their customers. We were lucky to get our hands on one of the founders, Nicolas Christener. We shot a few questions at him to find out about their motivation to sponsor the event.</p>
<p><img src="https://2016.guadec.org/wp-content/uploads/2016/07/NC.jpg" alt="" width="350" class="alignleft size-full wp-image-1143" /></p>
<p><b><i>Nicolas, we met a few years back at LibreOffice Conference where you helped organising the event. Now you&#8217;re also supporting GNOME. Why have you decided to sponsor GUADEC this year?</i></b></p>
<p>GNOME was one of the first projects that attracted me as a Linux / Open Source newbie and as such it was one of the reasons that made me stay with GNU/Linux as my primary operating system. Later, I attended several GUADECs and got a foot into this awesome community. Nowadays, we use GNOME on a daily basis not only on the desktop systems at Adfinis SyGroup but also in several customer projects. With our sponsoring, we would like to give something back and say &#8220;thank you&#8221; to the whole community!</p>
<p><b><i>Wow, really cool. Your company creates Free Software-based solutions;  how much are GNOME technologies relevant for these solutions you offer your customers?</i></b></p>
<p>We are a pure Free Software company and try to avoid proprietary solutions whenever possible. In our experience, Free Software-based solutions are the foundation of today&#8217;s innovation and we cannot imagine a world without the Free Software ecosystem.</p>
<p>Our customers mostly rely on server side technologies, but we do have some desktop deployments where GNOME and GTK based tools are used on a day-to-day basis. And of course, many of our engineers use GNOME as their primary desktop system, Evolution as their MUA, etc. etc.</p>
<p><b><i>If you had one wish for the Free Software movement in general and, respectively, the GNOME project in particular, what would it be?</i></b></p>
<p>I really like the all embracing character of the GNOME community and would love to see this spread to the whole Free Software movement. An open community with a friendly spirit is the best way to spread the word, bring Free Software closer to the people and make it accessible for everyone.</p>
<p>Specifically regarding GNOME I would love to see some more people getting involved in the Evolution/EDS development &#8211; I use Evolution excessively and manage tons of emails with it. It&#8217;s one of the most important tools I use and I would love to see it flourishing and to get the love it deserves :)<br />
Kudos to the whole team, Evolution is an awesome piece of software!</p>
<p><b><i>What are looking forward to when thinking of the upcoming GUADEC?</i></b></p>
<p>I hope to meet some old friends and attend interesting talks and sessions. GUADEC has always inspired me in many ways and helped me to broaden my knowledge and my view over the whole stack. I really hope to catch up with the latest development around Flatpak and figure out what&#8217;s going on in GTK land.</p>
<p><b><i>Thanks Nicolas, I&#8217;m looking very much forward to seeing you at our event this year!</i></b></p>
<p>&#8212;</p>
<hr />
<p>Questions were asked by Tobias Mueller of the local organising team. If you or your organising would also like to sponsor this year&#8217;s GUADEC, visit our <a href="/sponsors">sponsors page</a> or get in touch via email: sponsors@guadec.org.</p>
]]></content:encoded>
			</item>
	</channel>
</rss>
