<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Benjamin Berg &#8211; GUADEC 2016</title>
	<atom:link href="https://2016.guadec.org/author/benzea/feed/" rel="self" type="application/rss+xml" />
	<link>https://2016.guadec.org</link>
	<description>The GNOME Conference</description>
	<lastBuildDate>Thu, 06 Oct 2016 13:17:30 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.7</generator>
	<item>
		<title>So long and thanks for all the GUADEC</title>
		<link>https://2016.guadec.org/2016/08/24/guadec-in-numbers/</link>
		<pubDate>Wed, 24 Aug 2016 10:50:26 +0000</pubDate>
		<dc:creator><![CDATA[Benjamin Berg]]></dc:creator>
				<category><![CDATA[News]]></category>

		<guid isPermaLink="false">https://2016.guadec.org/?p=1354</guid>
		<description><![CDATA[GUADEC concluded last week and we are happy to see that people had a good time here in Karlsruhe. While we&#8217;re wrapping up and finish post-conference activities, we have collected a few numbers regarding the conference: drinks vouchers used at Z10: ~160 calls on the GUADEC helpline: 2 (one person lost on day 0 and &#8230;]]></description>
				<content:encoded><![CDATA[<p>GUADEC concluded last week and we are happy to see that people had a good time here in Karlsruhe.</p>
<figure id="attachment_1362" style="width: 640px" class="wp-caption alignnone"><img src="https://2016.guadec.org/wp-content/uploads/2016/08/GUADEC-group-small.jpg" alt="GUADEC 2016 Group Photo" width="640" height="427" class="size-full wp-image-1362" /><figcaption class="wp-caption-text">CC BY-SA 2.0, Bin Li (via flickr, scaled)</figcaption></figure>
<p>While we&#8217;re wrapping up and finish post-conference activities, we have collected a few numbers regarding the conference:</p>
<ul>
<li>drinks vouchers used at Z10: ~160</li>
<li>calls on the GUADEC helpline: 2 (one person lost on day 0 and a volunteer waiting for new instructions)</li>
<li>coffee served: 5kg or ~625 mugs</li>
<li>lost/broken mugs: 25</li>
<li>maximum scoops of ice cream per person: 14</li>
<li>pin buttons made: ~320</li>
<li>people registered: 186</li>
<li>badges picked up: 158</li>
<li>out of which identity as:</li>
<ul>
<li>&#8220;male&#8221;: 82</li>
<li>&#8220;female&#8221;: 16</li>
<li>other: 4</li>
</ul>
<ul>
<li>&lt; 20 years of age: 2</li>
<li>20–29: 45</li>
<li>  30–39: 51</li>
<li>40–49: 13</li>
<li>≥ 50: 2</li>
</ul>
</ul>
<p><img src="https://2016.guadec.org/wp-content/uploads/2016/08/IMG_20160814_175455.jpg" alt="IMG_20160814_175455" width="85%" class="size-full wp-image-1363" /></p>
<p>Don&#8217;t forget to <a href="https://wiki.gnome.org/GUADEC/2016/Feedback">leave your feedback on the wiki</a> to make next year&#8217;s GUADEC a success.</p>
]]></content:encoded>
			</item>
		<item>
		<title>GUADEC 2016 has been incident free</title>
		<link>https://2016.guadec.org/2016/08/18/guadec-2016-has-been-incident-free/</link>
		<pubDate>Thu, 18 Aug 2016 17:08:49 +0000</pubDate>
		<dc:creator><![CDATA[Benjamin Berg]]></dc:creator>
				<category><![CDATA[Uncategorized]]></category>

		<guid isPermaLink="false">https://2016.guadec.org/?p=1348</guid>
		<description><![CDATA[We are proud to announce that there was no report of improper behaviour throughout GUADEC 2016. Prior to the conference we had worked hard to ensure that we would have all the necessary safeguards in place to be able to respond properly in case any incident would occur. We feel lucky that we did not &#8230;]]></description>
				<content:encoded><![CDATA[<p>We are proud to announce that there was no report of improper behaviour throughout GUADEC 2016. Prior to the conference we had worked hard to ensure that we would have all the necessary safeguards in place to be able to respond properly in case any incident would occur. We feel lucky that we did not need any of these safeguards as we did not observe or receive reports of misbehaviour throughout the conference.</p>
<p>In our view this is an indication of how friendly and open the GNOME community is overall. It was great to see this welcoming community gathering at GUADEC once again and we hope to see everyone again at future events!</p>
<p><em>Should you have experienced or observed misbehaviour but have not yet reported it then please get into contact with a support team member or the organizers. It is still important to know about it as it helps understand whether adjustments need to be made in the future.</em></p>
]]></content:encoded>
			</item>
	</channel>
</rss>
