<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>GUADEC 2014 &#187; Emmanuele Bassi</title>
	<atom:link href="https://2014.guadec.org/author/ebassi/feed/" rel="self" type="application/rss+xml" />
	<link>https://2014.guadec.org</link>
	<description>The GNOME Conference</description>
	<lastBuildDate>Mon, 12 Jan 2015 14:08:27 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>http://wordpress.org/?v=4.1</generator>
	<item>
		<title>The Call for Presentations period is now over</title>
		<link>https://2014.guadec.org/the-call-for-presentations-period-is-now-over/</link>
		<comments>https://2014.guadec.org/the-call-for-presentations-period-is-now-over/#comments</comments>
		<pubDate>Mon, 12 May 2014 23:06:33 +0000</pubDate>
		<dc:creator><![CDATA[Emmanuele Bassi]]></dc:creator>
				<category><![CDATA[Uncategorized]]></category>

		<guid isPermaLink="false">https://www.guadec.org/?p=1316</guid>
		<description><![CDATA[Thanks to everyone who submitted a proposal for speaking at GUADEC 2014. The papers committee will now evaluate all submissions, and notify the accepted speakers by May 18th.]]></description>
				<content:encoded><![CDATA[<p>Thanks to everyone who submitted a proposal for speaking at GUADEC 2014.</p>
<p>The papers committee will now evaluate all submissions, and notify the accepted speakers by May 18th.</p>
]]></content:encoded>
			<wfw:commentRss>https://2014.guadec.org/the-call-for-presentations-period-is-now-over/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>
