<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Uncategorized &#8211; GUADEC 2017</title>
	<atom:link href="https://2017.guadec.org/category/uncategorized/feed/" rel="self" type="application/rss+xml" />
	<link>https://2017.guadec.org</link>
	<description>The GNOME Conference</description>
	<lastBuildDate>Thu, 17 Aug 2017 14:55:12 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.8.2</generator>

<image>
	<url>https://2017.guadec.org/wp-content/uploads/2017/04/GnJAEjv3_400x400.jpg</url>
	<title>Uncategorized &#8211; GUADEC 2017</title>
	<link>https://2017.guadec.org</link>
	<width>32</width>
	<height>32</height>
</image> 
	<item>
		<title>GUADEC 2017 Registration is Open!</title>
		<link>https://2017.guadec.org/2017/03/22/guadec-2017-registration-is-open/</link>
		<pubDate>Wed, 22 Mar 2017 13:49:45 +0000</pubDate>
		<dc:creator><![CDATA[samthursfield]]></dc:creator>
				<category><![CDATA[News]]></category>
		<category><![CDATA[Uncategorized]]></category>

		<guid isPermaLink="false">https://2017.guadec.org/?p=163</guid>
		<description><![CDATA[This year, the GNOME project’s annual European conference will be taking place in Manchester, UK. Happening between 28th July and 2nd August, it will be the biggest and most important [&#8230;]]]></description>
				<content:encoded><![CDATA[<p>This year, the GNOME project’s annual European conference will be taking place in Manchester, UK. Happening between 28th July and 2nd August, it will be the biggest and most important GNOME event of 2017. The conference will provide an opportunity to find out about the latest technical developments, learn new skills and tools, attend talks and participate in workshops and discussions. Everyone is welcome to attend – see the <a href="https://2017.guadec.org/">GUADEC 2017 website</a> for more details.</p>
<p>If you are planning on attending GUADEC, <strong>please register via the <a href="https://registration.guadec.org/">GUADEC registration website</a> as soon as possible</strong>. Dedicated GUADEC accommodation places are available to book at registration time. There is a limited supply of these rooms, and it might be difficult to secure more after the end of March. So, if you want a room at the GUADEC accommodation, please register and book before April.</p>
<p>The GUADEC team have also published the <a href="https://2017.guadec.org/wp-content/uploads/2017/03/conference-brochure-2017.pdf">sponsorship brochure</a> for this year’s conference, which includes some exciting opportunities for partners. Interested parties are invited to get in touch.</p>
<p>We hope to see you in Manchester. It’s going to be great!</p>
]]></content:encoded>
			</item>
	</channel>
</rss>
