<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>gstreamer &#8211; GUADEC 2016</title>
	<atom:link href="https://2016.guadec.org/tag/gstreamer/feed/" rel="self" type="application/rss+xml" />
	<link>https://2016.guadec.org</link>
	<description>The GNOME Conference</description>
	<lastBuildDate>Thu, 06 Oct 2016 13:17:30 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.7</generator>
	<item>
		<title>Announcing the GStreamer workshop</title>
		<link>https://2016.guadec.org/2016/06/24/announcing-the-gstreamer-workshop/</link>
		<pubDate>Fri, 24 Jun 2016 21:39:25 +0000</pubDate>
		<dc:creator><![CDATA[muelli]]></dc:creator>
				<category><![CDATA[News]]></category>
		<category><![CDATA[gstreamer]]></category>
		<category><![CDATA[guadec]]></category>
		<category><![CDATA[news]]></category>
		<category><![CDATA[workshop]]></category>

		<guid isPermaLink="false">https://2016.guadec.org/?p=1044</guid>
		<description><![CDATA[At this year&#8217;s GUADEC we plan to have great workshops. One of them will be on using GStreamer for your application by Olivier Crête. I&#8217;ve met Olivier and we chatted a little about the workshop: Olivier, you are the one the oldest members of the GNOME Foundation (in terms of membership). What keeps you in &#8230;]]></description>
				<content:encoded><![CDATA[<p>At <a href="http://2016.guadec.org/">this year&#8217;s GUADEC</a> we plan to have great <a href="https://2016.guadec.org/workshops/">workshops</a>. One of them will be on using <a href="https://2016.guadec.org/workshops/gstreamer/">GStreamer for your application</a> by Olivier Crête. I&#8217;ve met Olivier and we chatted a little about the workshop:</p>
<p><img class="alignleft size-full wp-image-1051" src="https://2016.guadec.org/wp-content/uploads/2016/06/olivier-2016.jpg" alt="oli2" width="513" height="772" /><br />
<b><i><br />
Olivier, you are the one the oldest members of the GNOME Foundation (in terms of membership). What keeps you in the community?<br />
</i></b></p>
<p>I came to the GNOME community first as a user thanks to Red Hat Linux, and back in the day, I used ICQ to talk to my friends. On GNOME, the well integrated client was called GnomeICU, I started by sending a few patches and in a couple months I became the maintainer. My dream was to have a job working on Free Software, particularly GNOME, full time. Later, that expertise in instant messaging got me hired at Collabora, where I could work on Telepathy and Farstream, and more importantly, work on GNOME technologies full time. Since my first GUADEC in 2007, I got hooked onto the community, it&#8217;s such a great event to meet people, as it has generally been long enough to make connections and really get to know people.</p>
<p><b><i><br />
The workshop you will be giving is concerned with GStreamer. Can you briefly explain what it is, what does, and why it&#8217;s interesting?</i></b></p>
<p>GStreamer is a framework to create multimedia applications. I use the very generic term &#8220;multimedia applications&#8221; because GStreamer is very flexible. It can be used for almost anything that deals with audio or video. For example, you can make a video player (like the GNOME Videos), a video editor (Pitivi), a simple sound recorder (GNOME Sound Recorder), a simple camera application (Cheese), a video calling application (Empathy, Pidgin), etc. It can even be used as a backend for all multimedia in a browser (WebKitGTK and GNOME Web). At Collabora, we&#8217;ve been helping our customers to build a wide array of great products with GStreamer for over a decade.</p>
<p><b><i><br />
GStreamer seems to be cool. What other projects exist, how does GStreamer compare to them, and, most importantly, what makes GStreamer better?</i></b></p>
<p>For each of these use cases, there exist other applications that provide re-usable back-ends, like VLC (and libvlc), Kdenlive (and MLT), mplayer (ffmpeg) but none of those offer the kind of versatility that GStreamer provides. GStreamer is also multi-platform, the GStreamer project provides builds for Windows, Mac, iOS and Android, in addition to the Linux builds present in every Linux distribution. GStreamer is also the most popular framework used by embedded Linux developers because of its flexibility, its support for all commonly used hardware APIs and support from SoC vendors.</p>
<p><b><i> You have been to a lot of conferences in many countries. I know, because we&#8217;ve travelled to quite a few together. What is it that makes you come to GUADEC over and over again?</i></b></p>
<p>What is so special about GUADEC is the community, there is a very welcoming core of contributors who come year after year and have formed a bond of friendship, but who are still welcoming to new contributors. The word &#8220;community&#8221; has been co-opted by corporate players so as to be entirely meaningless, many Open Source projects have &#8220;communities&#8221; were everyone is just there because it&#8217;s their job. GNOME is different, it has a real community formed of people who truly care, not only about creating the best possible Free desktop, but who are also friends.</p>
<p><b><i> What do you recommend people who are new to GNOME or attend their first GUADEC?</i></b></p>
<p>I&#8217;d recommend to introduce yourself to as many people as possible, the best thing about GUADEC is how easy it is to make friends.</p>
<p><b><i> Thanks Olivier! I&#8217;m looking forward to seeing you at GUADEC again.</i></b></p>
<p>&#8212;</p>
<hr />
<p>Questions were asked by Tobias Mueller from the local organising team. If you are interested in attending the workshop, please head over to the registration system and select the workshop.</p>
]]></content:encoded>
			</item>
	</channel>
</rss>
