<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Uncategorized &#8211; GUADEC 2016</title>
	<atom:link href="https://2016.guadec.org/category/uncategorized/feed/" rel="self" type="application/rss+xml" />
	<link>https://2016.guadec.org</link>
	<description>The GNOME Conference</description>
	<lastBuildDate>Thu, 06 Oct 2016 13:17:30 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.7</generator>
	<item>
		<title>GUADEC 2016 has been incident free</title>
		<link>https://2016.guadec.org/2016/08/18/guadec-2016-has-been-incident-free/</link>
		<pubDate>Thu, 18 Aug 2016 17:08:49 +0000</pubDate>
		<dc:creator><![CDATA[Benjamin Berg]]></dc:creator>
				<category><![CDATA[Uncategorized]]></category>

		<guid isPermaLink="false">https://2016.guadec.org/?p=1348</guid>
		<description><![CDATA[We are proud to announce that there was no report of improper behaviour throughout GUADEC 2016. Prior to the conference we had worked hard to ensure that we would have all the necessary safeguards in place to be able to respond properly in case any incident would occur. We feel lucky that we did not &#8230;]]></description>
				<content:encoded><![CDATA[<p>We are proud to announce that there was no report of improper behaviour throughout GUADEC 2016. Prior to the conference we had worked hard to ensure that we would have all the necessary safeguards in place to be able to respond properly in case any incident would occur. We feel lucky that we did not need any of these safeguards as we did not observe or receive reports of misbehaviour throughout the conference.</p>
<p>In our view this is an indication of how friendly and open the GNOME community is overall. It was great to see this welcoming community gathering at GUADEC once again and we hope to see everyone again at future events!</p>
<p><em>Should you have experienced or observed misbehaviour but have not yet reported it then please get into contact with a support team member or the organizers. It is still important to know about it as it helps understand whether adjustments need to be made in the future.</em></p>
]]></content:encoded>
			</item>
		<item>
		<title>GUADEC Day 4 &#8211; Sunday</title>
		<link>https://2016.guadec.org/2016/08/14/guadec-day-4-sunday/</link>
		<pubDate>Sun, 14 Aug 2016 06:49:58 +0000</pubDate>
		<dc:creator><![CDATA[muelli]]></dc:creator>
				<category><![CDATA[Uncategorized]]></category>

		<guid isPermaLink="false">https://2016.guadec.org/?p=1342</guid>
		<description><![CDATA[Yesterday, the weather had been pretty good. We could even make use of our pool! The ice cream van was certainly a highlight. Today, we have our second keynote held by Werner Koch. He will talk about issues of centralisation. The interesting hypothesis is that most systems on the Internet wouldn&#8217;t work &#8220;without access to, &#8230;]]></description>
				<content:encoded><![CDATA[<p>Yesterday, the weather had been pretty good. We could even make use of our pool! The ice cream van was certainly a highlight.</p>
<p><img src="https://2016.guadec.org/wp-content/uploads/2016/08/IMG_20160813_100036.jpg" alt="IMG_20160813_100036" width="100%" class="alignleft size-full wp-image-1344" /></p>
<p><img src="https://2016.guadec.org/wp-content/uploads/2016/08/IMG_20160813_134814.jpg" alt="IMG_20160813_134814" width="100%" class="alignleft size-medium wp-image-1345" /></p>
<p>Today, we have our second <a href="https://2016.guadec.org/keynotes/">keynote</a> held by Werner Koch. He will talk about issues of centralisation. The interesting hypothesis is that most systems on the Internet wouldn&#8217;t work &#8220;without access to, say, apis.google.com&#8221;. You might know Werner from GnuPG which tries to decentralise as many things as possible.  We are sure to find as much inspiration from what he has to say as we had from Bradley two days ago.</p>
<p>If will be difficult to pick talks to attend today. Highlights include &#8220;<a href="https://2016.guadec.org/schedule/#abstract-43-coding_live_with_builder">a live coding session with GNOME Builder</a>&#8221; which will demonstrate how to create a project from scratch, Also, we will see <a href="https://2016.guadec.org/schedule/#abstract-21-how_docould_we_store_secrets_in_gnome">a &#8220;summary of the infrastructure that GNOME provides to store secrets like passwords, SSH and GPG keys, and X.509 certificates&#8221;</a> which will discuss how cross-platform compatibility can be improved.  Another talk in the schedule is on <a href="https://2016.guadec.org/schedule/#abstract-20-gnome_customized_desktop_for_the_government">the Chinese government recommending the use of GNU/Linux</a> as well as how <a href="https://2016.guadec.org/schedule/#abstract-32-one_does_not_simply_take_a_bus">user testing works to implement and refine a feature in actual software</a>.</p>
<h4>Evening</h4>
<p>We conclude our core days with an evening event at <a href="http://hoepfner-burghof.de/">Hoepfner&#8217;s Burghof</a>. It&#8217;s a  beer garden of the local brewery with nice beer and dinner. We expect to start at 20:00. Please bring your badge.</p>
<p>If you want to do some tourism or dining before leaving GUADEC, you might find these places interesting:</p>
<ul>
<li><a href="http://www.karlsruhe.de/b1/stadtgeschichte/stadtmuseum.de">municipal museum</a>: housed in the Prince-Max-Palace, which used to be a magnificent retirement home of a big businessman, currently hosts an exhibition about the Südstadt, the southern district of Karlsruhe. Until 18:00. Admission free.</li>
<li><a href="http://www.ka-baeder.de/vierordtbad/">Vierordt Bad</a>: If you are craving for some relaxation with sauna and spa treatments after so many conference days, check out this bath house which first opened in 1873. Until 20:00. Admission 10.50 EUR.</li>
<li><a href="http://www.gold-ka.de/">Gold</a>: A few minutes east of the venue this is a nice bar that also serves some food.</li>
<li><a href="https://www.casadojose.de/">Casa do Jose</a>: Portuguese restaurant south east of the central market place, not far from Achat Plaza</li>
</ul>
]]></content:encoded>
			</item>
		<item>
		<title>GUADEC commences with four workshops</title>
		<link>https://2016.guadec.org/2016/08/11/guadec-commences-with-four-workshops/</link>
		<pubDate>Thu, 11 Aug 2016 07:00:35 +0000</pubDate>
		<dc:creator><![CDATA[muelli]]></dc:creator>
				<category><![CDATA[Uncategorized]]></category>

		<guid isPermaLink="false">https://2016.guadec.org/?p=1301</guid>
		<description><![CDATA[Today, GUADEC 2016 commences with a workshop day. We are offering four different workshops. We are very excited to be able to offer a full day of trainings. We still have a few seats available, so head over to the registration if you are interested. In the &#8220;package you app with Flatpak&#8221; workshop the attendees &#8230;]]></description>
				<content:encoded><![CDATA[<p>Today, GUADEC 2016 commences with a <a href="https://2016.guadec.org/workshops/" target="_blank">workshop day</a>. We are offering four different workshops.  We are very excited to be able to offer a full day of trainings. We still have a few seats available, so head over to <a href="http://registration.guadec.org">the registration</a> if you are interested.</p>
<p>In the <a href="https://2016.guadec.org/2016/06/01/announcing-the-flatpak-workshop/" target="_blank">&#8220;package you app with Flatpak&#8221; workshop</a>  the attendees will learn about the Flatpak containerisation system.  The  <a href="https://2016.guadec.org/workshops/gstreamer/" target="_blank">GStreamer workshop</a> will be about building a simple media player in Python using the GStreamer framework.   Attendees of the  <a href="https://2016.guadec.org/2016/06/08/announcing-the-contribute-to-opensource-workshop/" target="_blank">&#8220;Contributing to Free Software&#8221; workshop</a> will learn about basic git usage, code review and continuous integration.  The last workshop, <a href="https://2016.guadec.org/workshops/get_involved_with_gnome/" target="_blank">&#8220;Make your first contribution to GNOME&#8221;</a> will cover  retrieving and building the code, looking at bugs, updating the code and finally submitting the change.</p>
<p>We have assembled some <a href="https://2016.guadec.org/travel/">travel information</a> for your convenience and some <a href="https://2016.guadec.org/travel-information/">more general information</a> which you might find helpful. If all fails or you need assistance, dial the GUADEC helpline: +4915153778790.</p>
<p>After the workshops have finished, we are inviting the conference attendees to a <a href="https://2016.guadec.org/schedule/#abstract-113-bbq_at_akk" target="_blank">pre-registration BBQ at AKK</a> starting at around 20:00. <a href="https://www.akk.org/" target="_blank">The AKK</a> is an almost 30 years old organisation dedicated to spreading culture and facilitating communication. The AKK is supporting GUADEC with a lot of infrastructure and tooling.</p>
<p>During that BBQ we try to hand out as many badges as we can to make the registration on the following day less stressful for everybody involved. So please try to come to the BBQ and bear with us while we shake out remaining bugs. As compensation, we&#8217;re offering a few steaks. Drinks are to be bought cheaply from AKK.</p>
<p>Another reason why we want you to be around is that we will be needing volunteers for building up the main venue. </p>
<p>If you can&#8217;t attend or fancy eating out, check out the following places:</p>
<ul>
<li><a href="http://karlsruhe.lehners-wirtshaus.de/" target="_blank">Lehner’s</a>: A typical German restaurant with a menu mostly around south German dishes at Ludwigsplatz</li>
<li><a href="http://www.alibaba-ka.de/">Alibaba</a>: A Syrian-Libanese restaurant south of the central market place</li>
</li>
</ul>
]]></content:encoded>
			</item>
		<item>
		<title></title>
		<link>https://2016.guadec.org/2016/05/23/welcome-to-guadec/</link>
		<pubDate>Mon, 23 May 2016 12:39:00 +0000</pubDate>
		<dc:creator><![CDATA[muelli]]></dc:creator>
				<category><![CDATA[Uncategorized]]></category>

		<guid isPermaLink="false">https://2016.guadec.org/?p=974</guid>
		<description><![CDATA[Welcome to GUADEC GUADEC is the main conference for GNOME users, developers, foundation leaders, individuals, governments and businesses worldwide. GUADEC is not just a software conference though! People come together to meet collaborators from chat rooms and mailing lists, to network, to visit old friends and make new ones, and to have fun. The 2016 &#8230;]]></description>
				<content:encoded><![CDATA[<h1 style="text-align: center;margin-bottom: 20px"><strong>Welcome to GUADEC</strong></h1>
<p>GUADEC is the main conference for GNOME users, developers, foundation leaders, individuals, governments and businesses worldwide. GUADEC is not just a software conference though! People come together to meet collaborators from chat rooms and mailing lists, to network, to visit old friends and make new ones, and to have fun.</p>
<p>The 2016 edition of GUADEC will happen in <strong>Karlsruhe, Germany from</strong> <strong>August 12 – 14</strong> for the core conference days. Come early or stay after for <strong>workshops on August 11 </strong>and<strong> BoFs and hackfests from August 15 – 17</strong>. All conference events and workshops will be held at the <a href="https://kit.edu/english/">Karlsruhe Institute of Technology</a> located in the <a href="http://www.openstreetmap.org/?mlat=49.0096&amp;mlon=8.4170#map=14/49.0096/8.4170">heart of the city</a>. We would like to thank our <a href="https://2016.guadec.org/sponsors/">sponsors</a> for making the event happen.</p>
]]></content:encoded>
			</item>
	</channel>
</rss>
